// 新增主体
.add-subject{
    height: 100%;
    position: relative;
    &-main{
        height: 100%;
        overflow: auto;
        padding: 1.46rem 0.32rem 0.42rem 0.32rem;
		&-txt{
			color:#2E3A54;
			font-size: 0.26rem;
			line-height: 0.34rem;
			background: #F7F7F7;
			padding:0.22rem 0.36rem;
			border-radius: 0.08rem;
			margin-top:0.1rem;
			margin-bottom: 0.1rem;
		}
        &-title{
            font-size: 0.44rem;
            color: #2C3852;
            font-weight: bold;
        }
        &-list{
            @include df;
            @include df-ai;
            height: 1.1rem;
            border-bottom:0.02rem solid #F1F1F1;
            label{
                @include fn;
                width: 1.82rem;
                font-size: 0.3rem;
                color: #2C3852;
            }
            input{
                @include fa;
                @include box-sizing;
                height: 100%;
                border:none;
                font-size: 0.3rem;
                color: #2C3852;
                &::-webkit-input-placeholder {
                    color:#999999;
                }
            }
            .mcc{
                @include fa;
                height: 1.1rem;
                line-height: 1.1rem;
                font-size: 0.3rem;
                color: #2C3852;
                background: transparent url(./assets/images/shoppingCart/icon_scroll_b.png) center right no-repeat;
                background-size: 0.18rem 0.1rem;
			}
			.mcc_over{
				line-height: 0.55rem;
				padding-right: 0.2rem;
				height: auto;
			}
            .select-box{
                @include fa;
                height: 100%;
                font-size: 0.3rem;
                color: #2C3852;
                outline: none;
                border:none;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                background: transparent url(./assets/images/shoppingCart/icon_scroll_b.png) center right no-repeat;
                background-size: 0.18rem 0.1rem;
            }
        }
        .upload{
            padding-bottom: 0.38rem;
            border-bottom: 0.02rem solid #F1F1F1;
            &-title{
                margin: 0.34rem auto 0.32rem;
                font-size: 0.3rem;
                color: #2C3852;
            }
            &-main{
                @include df;
                @include df-ai-fs;
            }
            &-item{
                position: relative;
                margin-right: 0.32rem;
                width: 1.8rem;
                height: 2.4rem;
                padding-top: 0.66rem;
                background: url(./assets/images/subject/border-bg.png) center center no-repeat;
                background-size: cover;
                .cover{
                   display: block;
                   margin: 0 auto;
                   width: 0.6rem;
                   height: 0.6rem;
                   background: url(./assets/images/subject/icons-add.png) center center no-repeat;
                   background-size: cover;
                }
                .text{
                    font-size: 0.3rem;
                    color: #248FFF;
                    text-align: center;
                }
                .upload-img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: red;
                    opacity: 0;
                }
                .close{
                    position: absolute;
                    top:-0.24rem;
                    right: -0.24rem;
                    width: 0.48rem;
                    height: 0.48rem;
                    background: url(./assets/images/message/icon_remove.png) center center no-repeat;
                    background-size: 100% auto;
                    z-index: 1;
                }
            }
			&-itemNew{
				width:2.3rem;
				height: 3.16rem;
				background: none;
				border:1px solid #D1D1D1;
				border-radius:0.04rem;
                padding-top:1rem;
                background-size: cover;
				.cover{
					background: url(./assets/images/subject/icon_item_bg.png) center center no-repeat;
					background-size: cover;
				}
				.text{
					color:#717171;
					font-size: 0.26rem;
					line-height: 0.34rem;
					padding-top:0.1rem;
				}
			}
        }
        .submit{
            display: block;
            width: calc(100% - 0.48rem);
            margin: 0.6rem auto 0;
            height: 0.96rem;
            font-size: 0.34rem;
            color: #FFFFFF;
            background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
            border-radius:0.48rem;
        }
    }
    &-bottom{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background:rgba($color: #000000, $alpha: 0.4);
        z-index: 1;
        &-box{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #ffffff;
            .menu{
                @include df;
                @include df-jc-sb;
                padding: 0 0.2rem;
                line-height: 36px;
                font-size: 0.3rem;
                background-color: #eeeeee;
                button{
                    background-color: transparent;
                    &.sure-btn{
                        color: #248FFF;
                    }
                }
            }
        }
        .picker.iscity .picker-items .slot2{
            display: none;
        }
        .picker .picker-items .picker-item{
            font-size: 0.3rem;
        }
    }
}

// 主体列表
.subjectList{
	height:100%;
	font-size: 0.3rem;
	color: #2C3852;
	font-family:PingFangHK-Regular;
	.subject_list_box{
		.subject_con{
			margin-bottom: 1rem;
			padding:0 0.32rem;
			.exp_txt{
				color:#2E3A54;
				font-size: 0.26rem;
				line-height: 0.34rem;
				word-break:break-all;
				background: #F7F7F7;
				border-radius: 0.08rem;
				padding:0.24rem 0.36rem;
				margin-top:0.1rem;
			}
			.subject_con_title{
				color:#2C3852;
				font-size: 0.44rem;
				font-weight: bold;
				line-height: 0.6rem;
				margin:0.4rem 0 0 0;
			}
			.subject_item{
				border-bottom: 1px solid #F1F1F1;
				padding:0.42rem 0;
				.subject_item_list{
					display:flex;
					overflow:hidden;
					.list_status{
						float: right;
						color: #2E3A54;
						font-size: 0.2rem;
						background: #E6FFFC;
						font-style: normal;
						position: relative;
						z-index: 0;
						padding:0 0.04rem;
						line-height: 0.34rem;
						&::after{
							content: "";
							display: inline-block;
							position: absolute;
							width:0;
							height:0;
							border-top:0.17rem solid transparent;
							border-bottom:0.17rem solid transparent;
							border-right:0.12rem solid #E6FFFC;
							left:-0.12rem;
							top:0;
							z-index: -1;
						}
					}
					.red{
						background: #ffeeee;
						&::after{
							border-right:0.12rem solid #ffeeee;
						}
					}
					span{
						line-height: 0.4rem;
						padding:0.12rem 0.06rem 0.12rem 0;
						font-size: 0.29rem;
						&:first-child{
							float: left;
							width:27%;
							display: inline-block;
							color: #2C3852;
						}
						&:last-child{
							float: left;
							width:72%;
							display: inline-block;
							position: relative;
							color:#2E3A54;
							&.status_d{
								background: #EEF6FF;
								border-radius: 0.4rem;
								padding: 0 0.26rem;
								width: auto;
								line-height: 0.54rem;
								height: 0.54rem;
								margin-top: 0.05rem;
							}
							&.status_y{
								background: #E6FFFC;
								border-radius: 0.4rem;
								padding: 0 0.26rem;
								width: auto;
								line-height: 0.52rem;
								height: 0.52rem;
								margin-top: 0.06rem;
							}
							&.status_w{
								background: #FFEEEE;
								border-radius: 0.4rem;
								padding: 0 0.26rem;
								width: auto;
								line-height: 0.54rem;
								height: 0.54rem;
								margin-top: 0.05rem;
							}
							.icon_verify{
								margin-left:0.02rem;
								width:0.82rem;
								height:0.34rem;
								float: right;
							}
							.icon_verify_go{
								margin-left:0.12rem;
								width:1rem;
								height:0.34rem;
								z-index: 2;
								float: right;
							}
							img{
								vertical-align: middle;
							}
						}
					}
					.icon_right{
						background:url(./assets/images/user/advance.png) center center no-repeat;
						background-size: 100% 100%;
						display: inline-block;
						width:0.14rem;
						height:0.24rem;
						position:absolute;
						right: 0.12rem;
						top:0.19rem;
					}
					
				}
			}
		}
	}
	.add_subject_box{
		width:100%;
		height:1.98rem;
		position: fixed;
		bottom: 0;
		background: #fff;
		z-index: 3;
		.add_subject{
			background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
			color:#fff;
			height: 0.9rem;
			line-height: 0.9rem;
			text-align: center;
			border-radius: 0.46rem;
			width:5.9rem;
			position:fixed;
			bottom: 0.5rem;
			left:50%;
			margin-left:-2.95rem;
		}
		&.gray_bg{
			background:#f1f1f1;
		}
	}
	
}
// 验证邮箱
.verifyEmail{
	height:100%;
	font-size: 0.3rem;
	color: #2C3852;
	font-family:PingFangHK-Regular;
	.verify_con{
		padding:0 0.32rem;
		.verify_con_title{
			color:#2C3852;
			font-size: 0.44rem;
			font-weight: bold;
			line-height: 0.6rem;
			margin:0.4rem 0 0 0;
			color:#2C3852;
		}
		.verify_explain{
			color:#2E3A54;
			line-height: 0.4rem;
			margin: 0.24rem 0 0.44rem 0;
		}
		.vreify_box{
			.vreify_item{
				border-bottom: 1px solid #F1F1F1;
				display: flex;
				height:1.1rem;
				align-items: center;
				span{
					display: inline-block;
					width:1.8rem;
					line-height: 0.38rem;
					color:#2C3852;
				}
				input{
					border:none;
					color:#2E3A54;
					font-size: 0.3rem;
					padding:0 0.04rem;
				}
				.code{
					color:#018AFF;
					border:1px solid #018AFF;
					height:0.52rem;
					width:1.92rem;
					line-height: 0.52rem;
					float: right;
					text-align: center;
					border-radius: 0.4rem;
					padding:0;
					position: absolute;
					right: 0.32rem;
					&.gray_code{
						border:1px solid #ddd;
						color:#999;
					}
				}
				.code_input{
					max-width: 2rem;
				}
			}
			.sub_btn{
				background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
				width:5.9rem;
				height:0.9rem;
				line-height: 0.9rem;
				color:#fff;
				text-align: center;
				margin:0.82rem auto;
				border-radius: 0.46rem;
			}
		}
	}
}