.index{
	height:100%;
	.content_box{
		// position: relative;
		// height: 100%;
		// padding-top: 0.9rem;
		// padding-bottom: 1rem;
		// overflow-y: auto;
		// -webkit-overflow-scrolling: touch;
	}
	.containerView-main{
		padding-top: 0 !important;
	}
	.banner{
		height:5.28rem;
		.mint-swipe-indicator{
			opacity: 0.3;
			background:#979797;
			margin:0 0.06rem;
			&.is-active{
				background:#2D95FF;
				opacity: 1;
			}
		}
		.mint-swipe-indicators{
			display: none;
		}
		.mint-swipe-item{
			position: relative;
		}
	}
	.product_icon{
		padding:0.44rem 0 0 0;
		display: flex;
		flex-wrap:wrap;
		border-bottom: 0.2rem solid #ECECEC;
		.product_icon_box{
			padding:0 0.58rem;
			margin-bottom: 0.56rem;
			margin-top:0.2rem;
			.product_icon_i{
				width:1.32rem;
				overflow: hidden;
				text-align: center;
				display: flex;
				flex-direction: column;
				img{
					width:1.32rem;
					height:1.32rem;
				}
				.product_icon_title{
					font-size: 0.28rem;
					color:#343A4C;
					line-height: 0.34rem;
					margin-top:0.2rem;
				}
			}
		}
	}
	.product{
		font-size: 0.26rem;
		padding-bottom: 0.88rem;
		.product_box{
			padding:0 0.5rem 0.58rem 0.5rem;
			.product_i{
				img{
					width:100%;
					height:2.94rem;
				}
				.product_con{
					margin-top:0.66rem;
					.con_title{
						color: #2C3852;
						font-size: 0.48rem;
						line-height: 0.68rem;
						font-weight: 500;
						margin-bottom: 0.14rem;
					}
					.con_txt{
						color:#7C8191;
						font-size: 0.3rem;
						font-family:PingFangHK-Light;
						line-height: 0.42rem;
						margin-bottom: 0.48rem;
					}
					.register{
						color:#2390FF;
						line-height: 0.36rem;
						margin-bottom: 0.32rem;
					}
				}
			}
		}
	}
	.code{
		font-size: 0.22rem;
		margin-top:-0.24rem;
		margin-bottom: 0.98rem;
		.code_box{
			position:relative;
			text-align:center;
			.code_con{
				padding:0.12rem 0.22rem;
				display: inline-block;
				border:1px solid #98ABBB;
				border-radius: 0.28rem;
				overflow: hidden;
				img{
					width:0.3rem;
					height:0.3rem;
					float: left;
				}
				span{
					padding-left:0.12rem;
					color:#98ABBB;
					line-height: 0.32rem;
				}
			}
			.code_open{
				margin:0 0.1rem;
				position:absolute;
				overflow: hidden;
				background:url(./assets/images/index/code_bg.png) center center no-repeat;
				background-size: 100% auto;
				width: 7.32rem;
				height: 4.2rem;
				top: -4.15rem;
				z-index: 2;
				padding:0 0.6rem;
				.code_bg{
					text-align:center;
					float:left;
					width:50%;
					padding:0 0.46rem;
					margin-top:0.7rem;
					img{
						width:2.14rem;
						height:2.14rem;
					}
					p{
						font-size: 0.26rem;
						line-height: 0.36rem;
						margin-top:0.2rem;
					}
				}
			}
		}
	}
	.service{
		font-size: 0.22rem;
		color:#999999;
		background: #F2F2F2;
		padding:0.6rem 0 0 0;
		.title{
			font-size: 0.26rem;
			font-weight: 600;
			line-height: 0.36rem;
			color:#666666;
			margin-bottom: 0.24rem;
			text-align: center;
		}
		.con_bottom{
			text-align: center;
			border-bottom:1px solid #EAEAEA;
			padding-bottom: 0.56rem;
			img{
				width:1.7rem;
				height: 0.66rem;
				margin-bottom: 0.4rem;
			}
			.bottom_item{
				display: flex;
				justify-content: center;
				align-items: center;
				span{
					font-size: 0.26rem;
					color:#6A778F;
					text-decoration: underline;
				}
				i{
					width:0.04rem;
					height: 0.2rem;
					background-color: #979797;
					margin:0 0.5rem;
				}
			}
		}
		.service_con{
			.con_box{
				margin-bottom:0.32rem;
				p{
					line-height: 0.32rem;
					margin-bottom: 0.04rem;
				}
				&.record{
					text-align: center;
					color:#B5B5B5;
					padding:0.24rem 0.2rem;
					.title{
						font-size: 0.3rem;
						line-height: 0.42rem;
						margin-bottom: 0.02rem;
						padding-bottom: 0;
						color: #B5B5B5;
						font-weight: 300;
					}
					p{
						margin-bottom: 0;
						font-size: 0.2rem;
					}
				}
			}
			&:last-child{
				.con_box{
					margin-bottom:0;
				}
			}
			.been-bot{
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				padding: 0.24rem 0.34rem 0.66rem 0.34rem;
				.been-left{
					border-bottom: 1px dashed #DADADA;
					width: 100%;
				}
				.been-right{
					border-bottom: 1px dashed #DADADA;
					width: 100%;
				}
				span{
					font-size: 0.24rem;
					color: #B7B7B7;
					white-space: nowrap;
					padding: 0 0.42rem;
				}
			}
		}
	}
	.share_icon{
		width:0.4rem;
		height: 0.4rem;
		position: absolute;
		top:0.32rem;
		right:0.32rem;
		background: url(./assets/images/index/icon_share.png) center center no-repeat;
		background-size: 100% 100%;
		z-index: 1003;
	}
	.share_con{
		z-index: 1004;
		width:100%;
		height:100%;
		position: fixed;
		top:0;
		left:0;
		text-align: center;
		.share_bg{
			position: absolute;
			width:100%;
			height:100%;
			background: #131313;
			opacity: 0.485;
		}
		.share_box{
			background:#fff;
			width:6.4rem;
			border-radius: 0.18rem;
			position: absolute;
			top: 30%;
			left: 50%;
			margin-left: -3.2rem;
			.share_title{
				color: #2C3852;
				font-size: 0.3rem;
				line-height: 0.42rem;
				padding:0.32rem 0 0.28rem;
				border-bottom:1px solid #F1F1F1;
				.icon_close{
					width:0.26rem;
					height: 0.26rem;
					float: right;
					margin-right: 0.36rem;
					display: inline-block;
					background: url(./assets/images/index/icon_share_close.png) center center no-repeat;
					background-size: 0.26rem 0.26rem;
					margin-top:0.08rem;
				}
			}
			.share_box_c{
				color:#666666;
				font-size: 0.26rem;
				padding:0.54rem;
				overflow: hidden;
				div{
					float: left;
					width:49.9%;
					img{
						width:1.2rem;
						height: 1.2rem;
						margin-bottom: 0.08rem;
					}
					span{
						line-height: 0.36rem;
						display: block;
					}
				}
			}
		}
	}
}
// 首页-服务机构
.service-box{
    height: 100%;
	.containerView-main{
		padding-bottom: 0!important;
    }
    &-content{
        padding: 0.32rem;
        .service-list{
            margin-top: 0.46rem;
            border-bottom: 0.02rem solid #E7E7E7;
            &-name{
                font-size: 0.32rem;
                color: #6A778F;
            }
            &-phone{
                margin: 0.12rem auto 0.44rem;
                &::before{
                   content: "";
                   display: inline-block;
                   width: 0.3rem;
                   height: 0.3rem;
                   background: url(./assets/images/index/phone.png) center center no-repeat;
                   background-size: cover;
                   vertical-align: middle;
                   margin-right: 0.1rem;
                }
                a{
                    font-size: 0.28rem;
                    color: #0087FF;
                    text-decoration: underline;
                }
            }
            &-address{
                font-size: 0.28rem;
                color: #999999;
            }
            &-img{
                margin: 0.1rem auto 0.56rem;
                display: block;
                width: 100%;
                max-width: 6.68rem;
                height: 2.56rem;
                background-size: cover;
            }
        }
    }
    &-bottom{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0.24rem 0.34rem 0.32rem 0.34rem;
        .been-left{
            border-bottom: 1px dashed #DADADA;
            width: 100%;
        }
        .been-right{
            border-bottom: 1px dashed #DADADA;
            width: 100%;
        }
        span{
            font-size: 0.24rem;
            color: #B7B7B7;
            white-space: nowrap;
            padding: 0 0.42rem;
        }
    }
}

// 联系互易
.contact{
    height: 100%;
    &-main{
        padding: 0 0.32rem;
        &-title{
           margin: 0.56rem auto 0.44rem;
           font-size: 0.38rem;
           color: #2C3852;
           text-align: center;
        }
        &-code{
            @include df;
            @include df-jc-sb;
            width: 100%;
            height: 4rem;
            box-shadow:0px 0px 12px 0px rgba(181,181,181,0.5);
            .code-list{
                width: 50%;
                text-align: center;
                &-box{
                    margin: 0.4rem auto 0.2rem;
                    padding: 0.3rem;
                    width: 2.74rem;
                    height: 2.74rem;
                    border:0.02rem solid #BBBBBB;
                    border-radius: 0.08rem;
                    @include box-sizing;
                    img{
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                span{
                    color: #2C3852;
                    font-size: 0.26rem;
                }
            }
        }
        &-item{
            width: 100%;
            height: 0.9rem;
            line-height: 0.9rem;
            font-size: 0.3rem;
            color: #6A778F;
            border-bottom: 0.02rem solid #E5E5E5;
            @include box-sizing;
            &.hotline{
                @include df;
                @include df-ai;
                @include df-jc-sb;
                margin-top: 0.28rem;
                color: #0087FF;
                .left{
                    @include fn;
                }
                a{
                    color: #0087FF;
                    @include df;
                    @include fa;
                    @include df-ai;
                    @include df-jc-sb;
                }
                .phone{
                    display: inline-block;
                    width: 0.3rem;
                    height: 0.3rem;
                    background: url(./assets/images/index/phone.png) center center no-repeat;
                    background-size: 100%;
                    margin-right: 0.06rem;
                }
            }
            a{
                color: #6A778F;
                text-decoration: underline;
            }
        }
    }
}