.fill_information{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: #ffffff;
	font-size: 0.3rem;
	// overflow: scroll;
	// padding-top:0.9rem;
	padding-bottom: 1.3rem;
    font-family:PingFangHK-Regular;
    .containerView-main{
        padding-top: 0.9rem !important;
        padding-bottom: 1rem !important;
        margin-top: 0 !important;
	}
	&.fill_bot{
		padding-bottom: 3.8rem;
	}
	&.fill_bot1{
		padding-bottom: 2.3rem;
	}
	.con_box{
		padding:0 0.32rem;
		.list_box{
			margin:0.4rem 0; 
			.title{
				font-size: 0.44rem;
				color:#2C3852;
				line-height: 0.6rem;
				font-weight: 400;
				font-family:PingFang SC;
				display: flex;
				//justify-content: space-between;
				align-items: center;
				margin-bottom: 0.24rem;
				.act_icon{
					font-size: 0.28rem;
					color:#6F7181;
				}
				.active{
					font-size: 0.44rem;
					color:#2C3852;
				}
				span{
					padding-right: 0.52rem;
					align-self: baseline;
				}
				a{
					line-height: 0.5rem;
					border: 1px solid #0086FF;
					border-radius: 0.5rem;
					display: inherit;
				}
				.title-btn{
					color: #0086FF;
					font-size: 0.28rem;
					font-weight: 400;
					padding: 0 0.2rem;
					// line-height: 0.5rem;
				}
			}
			.list_item{
				overflow:hidden;
				border-bottom: 1px solid #F1F1F1;
				padding: 0.36rem 0;
				color:#2C3852;
				position: relative;
				display: flex;
				align-items: center;
				&.list_service{
					padding-top:0;
				}
				.list_item-tips{
					font-size: 0.24rem;
					.tp{
						font-size: 0.3rem;
					}
					color: #999999;
				}
				.icon_r{
					width:0.1rem;
					height:0.18rem;
					background: url(./assets/images/user/advance.png) right center no-repeat;
					background-size: 100% 100%;
					display: block;
					position: absolute;
					right: 0;
					top:50%;
					margin-top:-0.1rem;
				}
				.rotete{
					transform: rotate(-90deg);
				}
				span{
					display: inline-block;
					width:27%;
					float: left;
					line-height: 0.4rem;
				}
				input{
					outline: none;
					// max-width: 4.4rem;
					height:0.4rem;
					border:none;
					float: left;
					width:72%;
					color:#2C3852;
					font-size: 0.3rem;
					font-family:PingFangHK-Regular;
                }
                .list-item-right{
                    @include fa;
                    position: relative;
                    &-btn{
                        position: absolute;
                        top: 50%;
                        right: 0.3rem;
                        transform: translateY(-50%);
                        background-color: transparent;
                        outline: none;
                    }
                }
				select{
					color:#2C3852;
					height:0.4rem;
					float: left;
					width:72%;
					font-size: 0.3rem;
					border:none;
					appearance:none;
					-moz-appearance:none;
					-webkit-appearance:none;
					background: transparent;
					outline: none;
					font-family:PingFangHK-Regular;
					&::-ms-expand{
						display: none;
					}
				}
			}
			.fill_n{
				text-align: center;
				padding-top:1rem;
				p{
					margin-bottom: 0.5rem;
				}
				.add_fill{
					color: #fff;
					font-size: 0.3rem;
					background: linear-gradient(131deg, #0fb3fe 0%, #0086ff 100%);
					border-radius: 0.46rem;
					line-height: 0.4rem;
					padding: 0.24rem 0.88rem;
				}
			}
		}
	}
	.all_prive{
		position: fixed;
		bottom: 1.8rem;
		width:100%;
		padding:0 0.32rem;
		.all_prive_box{
			display: flex;
			justify-content: space-between;
			padding:0.3rem 0.32rem;
			border-radius: 0.18rem;
			background:#F7F7F7;
			width:100%;
			.cost_txt{
				&::before{
					content:"";
					display: inline-block;
					background:#686D7F;
					width:0.08rem;
					height:0.08rem;
					border-radius: 0.04rem;
					margin-right: 0.14rem;
					vertical-align:middle;
				}
			}
			span{
				color:#686D7F;
				font-size: 0.26rem;
				line-height: 0.36rem;
			}
		}
	}
	.fill_bottom{
		position: fixed;
		bottom: 0;
		overflow: hidden;
		border-top:1px solid #F1F1F1;
		padding:0.3rem 0.32rem;
		z-index: 3;
		width:100%;
		background-color:#fff;
		.bottom_l{
			float:left;
			color:#2E3A54;
			p{
				font-size: 0.24rem;
			}
			.all_price{
				font-size: 0.34rem;
				line-height: 0.44rem;
			}
		}
		.bottom_r{
			float: right;
			.addCard{
				color:#fff;
				font-size: 0.3rem;
				background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
				border-radius: 0.46rem;
				line-height: 0.4rem;
				padding:0.24rem 0.88rem;
            }
.addCard_n{
				width: 2.08rem;
				padding: 0.2rem 0;
				text-align: center;
				font-size: 0.28rem;
			}
			.addShop{
				color:#0087FF;
				border:1px solid #0087FF;
				font-size: 0.26rem;
				line-height: 0.36rem;
				border-radius: 0.46rem;
				margin-right: 0.16rem;
			}
            .addCard-btn{
                button{
                    height: 0.78rem;
                    width: 2.08rem;
                    outline: none;
                    line-height: 0.78rem;
                    border-radius: 0.45rem;
                    background-color: transparent;
                    &.btn-add{
                        color: #0087FF;
                        font-size: 0.26rem;
                        border:0.02rem solid #028BFF;
                        box-sizing: border-box;
                        margin-right: 0.16rem;
                    }
                    &.btn-apply{
                        color: #ffffff;
                        font-size: 0.28rem;
                        background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
                    }
                }
            }
		}
	}
}