.recruit{
	font-size: 0.28rem;
	height:100%;
	overflow: scroll;
	.recruit_top{
		background:linear-gradient(127deg,rgba(4,104,194,1) 0%,rgba(58,80,103,1) 100%);
		background-size: 100% 100%;
		width:100%;
		height:4.48rem;
		position:fixed;
		margin-bottom:0.4rem;
		.product-list-toptips{
			margin-top:0.64rem;
		}
		.recruit_bg{
			background:url(./assets/images/recruit/recruit_topbg.png) center center no-repeat;
			width:100%;
			height: 100%;
			position: absolute;
			left: 0;
			top:0;
		}
		.top_title{
			text-align: center;
			position:relative;
			font-size: 0.36rem;
			color:#fff;
			line-height: 1rem;
			.go_index{
				position:absolute;
				background:url(./assets/images/recruit/icon_left.png) center center no-repeat;
				background-size: 100% 100%;
				width:0.32rem;
				height:0.32rem;
				left:0.32rem;
				top:0.34rem;
			}
		}
		.search{
			padding:0 0.32rem;
			margin-top:0.86rem;
			.search_box{
				border:1px solid #fff;
				border-radius:1rem;
				overflow:hidden;
				// opacity:0.6;
				height:0.92rem;
				.input_b{
					float: left;
					width:72%;
					height: 100%;
					position: relative;
					input{
						outline:none;
						width:80%;
						height:0.48rem;
						line-height: 0.48rem;
						background:none;
						border:none;
						padding:0 0 0 0.52rem;
						margin-top: 0.2rem;
						color:#fff;
						font-size: 0.3rem;
						&::placeholder{
							font-size: 0.28rem;
							opacity: 0.5;
							color:#fff;
						}
						&::-webkit-input-placeholder{
							font-size: 0.28rem;
							opacity: 0.5;
							color:#fff;
						}
						&::-ms-input-placeholder{
							font-size: 0.28rem;
							opacity: 0.5;
							color:#fff;
						}
						&::-moz-placeholder{
							font-size: 0.28rem;
							opacity: 0.5;
							color:#fff;
						}
						&:-moz-placeholder{
							font-size: 0.28rem;
							opacity: 0.5;
							color:#fff;
						}
					}
					span{
						opacity: 0.5;
						color:#fff;
						font-size: 0.28rem;
						line-height: 0.48rem;
						float: right;
						position:absolute;
						right:0.2rem;
						top:0.2rem;
					}
				}
				.button_b{
					float: left;
					width: 28%;
					height:100%;
					line-height: 0.88rem;
					position:relative;
					.button_bg{
						background: #fff;
						opacity: 0.17;
						width:100%;
						height:100%;
						position: absolute;
						top:0;
						left:0;
					}
					img{
						float: left;
						width:0.32rem;
						height: 0.32rem;
						margin:0.28rem 0.02rem 0 0.48rem;
					}
					span{
						font-size: 0.3rem;
						opacity: 1;
						line-height: 0.42;
						color:#fff;
					}
				}
			}
		}
	}
	.content{
		padding:0 0.32rem 0 0.32rem;
		.content_list{
			border:1px solid #DDDEE1;
			border-radius: 0.04rem;
			overflow: hidden;
			padding:0.36rem 0.24rem 0.36rem 0.44rem;
			position:relative;
			margin-bottom: 0.4rem;
			.list_left{
				float: left;
				font-size: 0.3rem;
				color:#2E3A54;
				line-height: 0.42rem;
				max-width: 70%;
				.list_name{
					margin-bottom:0.04rem;
					.name_blue{
						color:#0086FF;
					}
					.can_or_not{
						color: #fff;
						font-size: 0.2rem;
						line-height: 0.28rem;
						padding:0.04rem 0.1rem;
						background:#16C4AF;
						border-radius: 0.04rem;
						margin-left:0.28rem;
						display: inline-block;
					}
					.not{
						background: #FF6060;
					}
				}
				.pirce{
					
				}
			}
			.list_right{
				float: right;
				background: url(./assets/images/recruit/icon_blue_r.png) right center no-repeat;
				background-size: 0.32rem 0.32rem;
				padding-right: 0.32rem;
				position: absolute;
				top:50%;
				margin-top:-0.16rem;
				right: 0.24rem;
				span{
					color:#0086FF;
				}
			}
		}
	}
	.recruit_con{
		margin-top:4.88rem;
	}
	.process{
		padding:0 0.32rem;
		margin-bottom: 0.4rem;
		.process_img{
			width:100%;
			height: auto;
		}
	}
	.process_b{
		background:#F6FAFF;
		border-radius: 0.16rem;
		padding:0.36rem 0.44rem;
		margin:0.32rem;
		.title{
			color:#2E3A54;
			font-size: 0.3rem;
			line-height: 0.42rem;
			font-weight: bold;
			margin-bottom: 0.18rem;
		}
		.process_txt{
			font-size: 0.24rem;
			line-height: 0.34rem;
			color:#2E3A54;
			word-wrap: break-word;
			word-break: normal;
		}
	}
}