@font-face{
    font-family: 'SansCN-Normal';
    src: url('./SourceHanSansCN-Normal.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SansCN-Light';
    src: url('./SourceHanSansCN-Light.otf');
    font-weight: normal;
    font-style: normal;
}