.tradeSearch {
    height: 100%;
    font-size: 0;
    overflow: scroll;
    .tradeSearch-top{
        background: url(./assets/images/tradeSearch/bg_img.png) top left no-repeat;
        background-size: 100%;
        height: 3.18rem;
        .mint-header {
            background-color: transparent !important;
            border-bottom: none !important;
        }
        .mint-header-button.is-left{
            color: #fff !important;
        }
        .mint-header-title{
            color: #fff !important;
        }
        .t-search{
            padding-top: 1.18rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .t-search-left{
                input{
                    font-size: 0.3rem;
                }
                .search-btn{
                    img{

                    }
                    span{
                        color: #fff;
                        font-size: 0.3rem;
                    }
                }
            }
            .t-search-left{
                color: #fff;
                font-size: 0.3rem;
            }
        }
    }
}