// 商标服务
.tradeService {
    height: 100%;
    font-size: 0;
    overflow: scroll;
    box-sizing: border-box;
    .tradeService-top{
        height: 3.46rem;
        background: linear-gradient(127deg, #0468c2 0%, #3a5067 100%);
        background-size: 100%;
        .recruit_bg{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 3.46rem;
            background: url(./assets/images/tradeService/bg_img.png) center center no-repeat;
        }
        .mint-header {
            background-color: transparent !important;
            border-bottom: none !important;
        }
        .mint-header-button.is-left{
            color: #fff !important;
        }
        .mint-header-title{
            color: #fff !important;
        }
        .t-service{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 0.92rem;
            line-height: 0.92rem;
            padding: 2.28rem 0.32rem 0;
            .t-service-left{
                border-radius: 0.5rem;
                border: 1px solid rgba(255, 255, 255, .6);
                display: flex;
                justify-content: space-between;
                align-items: center;
                // padding: 0 0.4rem;
                white-space:nowrap;
                overflow: hidden;
                input{
                    font-size: 0.3rem;
                    width: 60%;
                    border: none;
                    background: none;
                    padding-left: 0.32rem;
                    outline: none;
                    color: #fff;
                }
                input::-webkit-input-placeholder{
                    color: #fff;
                    opacity: .5;
                }
                .service-btn{
                    background: rgba(255, 255, 255, .17);
                    padding: 0 0.32rem;
                    img{
                        width: 0.32rem;
                        vertical-align: middle;
                    }
                    span{
                        vertical-align: middle;
                        color: #fff;
                        font-size: 0.3rem;
                    }
                    // 域名服务
                    &.domain {
                        // position: relative;
                        color: #fff;
                        font-size: 0.3rem;
                        
                        select{
                            border: none;
                            background: none;
                            font-size: 0.3rem;
                            color: #fff;
                            outline: none;
                            -webkit-appearance: none;
                            option{
                                color: #2E3A54;
                            }
                        }

                    }
                }
            }
            .t-service-right{
                padding: 0 0.4rem;
                white-space:nowrap;
                border-radius: 0.5rem;
                border: 1px solid rgba(255, 255, 255, .6);
                color: #fff;
                font-size: 0.3rem;
                margin-left: 0.08rem;
                img{
                    height: 0.32rem;
                    vertical-align: middle;
                }
                span {
                    vertical-align: middle;
                    color: #fff;
                    font-size: 0.3rem;
                }
            }
        }
    }
    .service-bot{
        padding: 0.4rem 0.32rem;
        background: #fff;
        .instial{
            .advantage{
                background: #F6FAFF;
                padding: 0.36rem 0.44rem;
                margin-bottom: 0.4rem;
                border-radius: 0.04rem;
                p{
                    padding-bottom: 0.18rem;
                    font-size: 0.3rem;
                    color: #2E3A54;
                }
                span{
                    font-size: 0.24rem;
                    color: #2E3A54;
                }
            }
            
            .trade-img{
                img{
                    width: 100%;
                }
            }
        }
        .result{
            .result-tips{
                border: 1px solid #DDDEE1;
                padding: 0.2rem 0.44rem;
                margin-bottom: 0.4rem;
                
                img{
                    height: 0.18rem;
                    margin-right: 0.04rem;
                }
                span{
                    font-size: 0.24rem;
                    color: #2E3A54;
                }
            }
            .result-box{
                .result-list{
                    padding: 0.36rem 0.44rem;
                    border: 1px solid #DDDEE1;
                    margin-bottom: 0.4rem;
                    border-radius: 0.04rem;
                    .bot-msg{
                        padding-bottom: 0.18rem;
                        font-size: 0.24rem;
                        .left{  
                            color: #6F7181;
                            width: 23%;
                            display: inline-block;
                            padding-right: 0.16rem;
                            i{
                                font-style: inherit;
                                float: right;
                                vertical-align: middle;
                            }
                        }
                        .right{
                            color: #2E3A54;
                        }
                        
                    }
                    .bot-msg:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    .content {
        padding: 0.32rem;

        .content_list {
            border: 1px solid #DDDEE1;
            border-radius: 0.04rem;
            overflow: hidden;
            padding: 0.36rem 0.24rem 0.36rem 0.44rem;
            position: relative;
            margin-bottom: 0.4rem;

            .list_left {
                float: left;
                font-size: 0.3rem;
                color: #2E3A54;
                line-height: 0.42rem;
                max-width: 70%;

                .list_name {
                    margin-bottom: 0.04rem;

                    .name_blue {
                        color: #0086FF;
                    }

                    .can_or_not {
                        color: #fff;
                        font-size: 0.2rem;
                        line-height: 0.28rem;
                        padding: 0.04rem 0.1rem;
                        background: #16C4AF;
                        border-radius: 0.04rem;
                        margin-left: 0.28rem;
                        display: inline-block;
                    }

                    .not {
                        background: #FF6060;
                    }
                }

                .pirce {}
            }

            .list_right {
                float: right;
                background: url(./assets/images/recruit/icon_blue_r.png) right center no-repeat;
                background-size: 0.32rem 0.32rem;
                padding-right: 0.32rem;
                position: absolute;
                top: 50%;
                margin-top: -0.16rem;
                right: 0.24rem;
                font-size: 0.3rem;

                span {
                    color: #0086FF;
                }
            }
        }
    }
}

