// 头部导航栏
.narlist{
    position: fixed;
    width: 100%;
    height: 0.96rem;
    top:0.9rem;
    left: 0;
    font-size: 0.28rem;
    padding: 0 0.32rem;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 2;
    ul{
        @include df;
        @include df-ai-fs;
        @include df-ai;
        overflow-x: scroll;
        /*解决ios上滑动不流畅*/
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {display:none}
        li{
            @include fn;
            text-align: center;
            &:not(:first-child){
                margin-left: 0.72rem;
            }
            span{
                display: inline-block;
                padding: 0.14rem 0;
                color: #2C3852;
                font-size: 0.28rem;
                border-bottom:0.03rem solid transparent;
            }
            &.active{
                span{
                    color: #018AFF;
                    border-bottom:0.03rem solid #018AFF;
                }
            }
        }
    }
}

// 底部导航
.nav_botton {
    position: fixed;
    width: 100%;
    height: 1rem;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    border-top: 1px solid #D3D5D8;
    @include df;
    &_list{
        width: 25%;
        text-align: center;
        font-size: 0.2rem;
        color: #556480;
        &_img{
           display: block;
           margin: 0.12rem auto 0.06rem;
           width: 0.44rem;
           height: 0.44rem;   
        }
        &_text{
            &.active{
                color: #0086FF;
            }
        }
    }
  }

//加载失败 && 订单暂无数据
// 订单暂无数据
.public{
    padding-top: 0.9rem;
    height: 100%;
    background-color: #f1f1f1;
    box-sizing: border-box;
    &-main{
        @include df;
        @include df-ai;
        @include df-jc;
        height: 100%;
        text-align: center;
          &-text{
              font-size: 0.28rem;
              color: #999999;
          }
          &-btn{
              margin: 0.8rem auto 0;
              display: block;
              width: 3.32rem;
              height: 0.88rem;
              color: #ffffff;
              font-size: 0.28rem;
              background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
              border-radius:0.44rem;
              outline: none;
              border:none;

          }
          &-img{
            display: block;
            margin:0 auto;  
          }
    }
    &.load-failed{
        .public-main-img{
            margin-bottom: 0.36rem;
            width: 1.68rem;
            height: 1.68rem;
        }
    }
    &.blank-page{
        .public-main-img{
            margin-bottom: 0.36rem;
            width: 1.28rem;
            height: 1.68rem;
        }
    }
    &.play-success{
        background-color: #ffffff;
        .public-main-text{
            color: #2E3A54;
        }
        .public-main-img{
            margin-bottom: 0.46rem;
            width: 2rem;
            height: 2rem;
        }
        .public-main-btn{
            margin-top: 1.7rem;
        }
    }
    &.send-success{
        background-color: #ffffff;
        .public-main-text{
            color: #2E3A54;
        }
        .public-main-img{
            margin-bottom: 0.46rem;
            width: 2rem;
            height: 2rem;
        }
    }
    
}

//弹出层遮罩
.toastBg{
	width:100%;
	height:100%;
	position: fixed;
	left:0;
	top:0;
	background-color:#333;
	opacity: 0.4;
	z-index: 100;
}
// 加载层样式
.mint-indicator{
	.mint-indicator-mask{
		background:#000;
		opacity: 0.4874;
		z-index: 1000;
	}
	.mint-indicator-spin{
		div{
			display: none;
		}
	}
	.mint-indicator-wrapper{
		z-index: 1001;
		background:none;
		.mint-indicator-spin{
			width:0.5rem;
			height:0.54rem;
			background:url(./assets/images/common/loading.png) center center no-repeat;
			background-size: 100% 100%;
			animation:loading 1s linear infinite;
		}
	}
}
@keyframes loading
	{
		0%   {transform: rotate(0deg);}
		25%  {transform: rotate(90deg);}
		50%  {transform: rotate(180deg);}
		75%  {transform: rotate(270deg);}
		100% {transform: rotate(360deg);}
	}
@-moz-keyframes loading
	{
		0%   {transform: rotate(0deg);}
		25%  {transform: rotate(90deg);}
		50%  {transform: rotate(180deg);}
		75%  {transform: rotate(270deg);}
		100% {transform: rotate(360deg);}
	}
@-webkit-keyframes loading
	{
		0%   {transform: rotate(0deg);}
		25%  {transform: rotate(90deg);}
		50%  {transform: rotate(180deg);}
		75%  {transform: rotate(270deg);}
		100% {transform: rotate(360deg);}
	}
@-o-keyframes loading
	{
		0%   {transform: rotate(0deg);}
		25%  {transform: rotate(90deg);}
		50%  {transform: rotate(180deg);}
		75%  {transform: rotate(270deg);}
		100% {transform: rotate(360deg);}
	}
  
  /* 路由淡入淡出效果 */
  .fade-enter-active, .fade-leave-active{
  	transition: opacity .2s;
  }
  .fade-enter, .fade-leave-to{
  	opacity :0;
  }
  
  .mint-indicator-wrapper{
	  font-size: 0.35rem;
  }
