// rest
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video ,button{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  // font-family: "微软雅黑", "宋体", "华文细黑", arial, sans-serif;
//   font-family: 'PingFangSC-Medium, sans-serif';
//   font-family: 'SansCN-Normal','PingFangSC-Medium, sans-serif';
  vertical-align: baseline;
  // background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

// 用作当有弹窗时的，禁止底层滚动
.riven-overflow-hidden{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

body,html{
    height: 100%;
    font-family: 'PingFangSC-Light','helvetica','Heiti SC';
}
  #app{
    height: 100%;
    .containerView-main {
      position: relative;
      padding-top: 0.9rem;
      padding-bottom: 1rem;
      // 底部内间距0
      &.pb_not{
          padding-bottom: 0;
      }
    }
  }


nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
input{
    outline: none;
}
input::-webkit-search-cancel-button{
    display: none;
}
input[type=search]::-ms-clear{
    display: none;
} 

input,textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

button {
  border:none;
  outline: none;
}
.f_bdb{
	border-bottom: 1px solid #EDEDED;
}
.f_bd{
  border:1px solid #EDEDED;
}
.f_bdt{
	border-top: 1px solid #EDEDED;
}
.f_bgf{
  background-color:#fff;
}
.f_mg0{
  margin:0!important;
}
.f_bdn{
  border:none!important;
}
.f_c_blue{
  color:#0086FF!important;
}
.f_c_gray{
  color:#999!important;
}
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}