// 订单列表
.order{
    height: 100%;
    overflow: scroll;
    padding-top: 1.86rem;
   &-main{
       padding: 0 0.3rem 0.32rem 0.3rem;
       &-list{
          margin-top: 0.3rem;
          padding: 0.24rem;
          width: 100%;
          border-radius: 0.18rem;
          box-shadow:0px 2px 18px 0px rgba(212,214,215,1);
          &-title{
              @include df;
              @include df-jc-sb;
              line-height: 0.24rem;
              .list-jid{
                  font-size: 0.18rem;
                  color: #666666;
              }
              .list-status{
                  font-size: 0.24rem;
                  color: #018AFF;
              }
          }
          .list-content{
              margin-top: 0.26rem;
              padding: 0.2rem;
              background-color: #FAFAFA;
              border-radius: 0.08rem;
              // 提示
              &-tips{
                  padding-left: 0.3rem;
                  font-size: 0.24rem;
                  color: #EA7526;
                  background: url(./assets/images/order/order-caveat.png) center left no-repeat;
                  background-size: 0.24rem 0.24rem;
              }
              &-list{
                @include df;
                @include df-jc-sb;
                margin-top: 0.2rem;
              }
              &-left{
                @include df;
                @include df-ai-fs;
                &-type{
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    width: 0.98rem;
                    padding: 0.03rem 0;
                    font-size: 0.2rem;
                    border-radius: 0.36rem;
                    color: #FB495B;
                    border:2px solid #FB1B31;
                    &.blue{
                        color: #0095CA;
                        border:2px solid #0095CA; 
                    }
                }
                &-title{
                    color: #2E3A54;
                    font-size: 0.24rem;
                    margin-left: 0.18rem;
                    font-weight: bold;
                }
              }
              &-right{
                font-size: 0.24rem;
                color: #2E3A54;
                font-weight: bold;
              }
              // 总计   
              &-allprice{
                  margin-top: 0.2rem;
                  height: 0.72rem;
                  line-height: 0.72rem;
                  font-size: 0.24rem;
                  color: #2E3A54;
                  text-align: right;
                  font-weight: bold;
                  border-top: 2px solid #eeeeee;
              }
          }
       }
       .list-bottom{
            @include df;
            @include df-jc-sb;
            margin-top: 0.26rem;
            height: 0.6rem;
            line-height: 0.6rem;
            &-time{
                font-size: 0.24rem;
                color: #999999;
            }
            &-btn{
                width: 1.96rem;
                height: 0.6rem;
                font-size: 0.24rem;
                color: #ffffff;
                border:none;
                outline: none;
                background-color: #0086FF;
                border-radius: 0.6rem;
            }
        }
   }
}
// 订单详情
.order-deatil{
    position: relative;
    height: 100%;
    padding-top: 0.9rem;
    background-color: #f1f1f1;
    font-size: 0;
    .detail-main{
        padding: 0 0.32rem;
        background-color: #ffffff;
        &-title{
          @include df;
          @include df-jc-sb;
          height: 0.98rem;
          line-height: 0.98rem;
          font-size: 0.26rem;
          
          .order-id{
              color: #666666;
          }
          .status{
              color: #018AFF;
              font-weight: 400;
          }
        }
        &-list{
            padding-top: 0.36rem;
            padding-bottom: 0.36rem;
            border-top: 2px solid #F1F1F1;
            &-name{
                @include df;
                margin-bottom: 0.14rem;
                .typename{
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    width: 0.98rem;
                    padding: 0.03rem 0;
                    font-size: 0.2rem;
                    border-radius: 0.36rem;
                    color: #FB495B;
                    border:2px solid #FB1B31;
                   }
                   .shopname{
                       font-size: 0.28rem;
                       color: #2E3A54;
                       font-weight: bold;
                       margin-left: 0.18rem;
                   }
            }
            .money{
                @include df;
                @include df-jc-sb;
                line-height: 0.48rem;
                font-size: 0.26rem;
                color: #999999;
            }
           
        }
        
    }
    .detail-customer-info{
        padding: 0 0.32rem;
        margin-top: 0.2rem;
        padding-bottom: 0.22rem;
        background-color: #ffffff;
        &-title{
            @include df;
            @include df-ai;
            height: 0.98rem;
            line-height: 0.98rem;
            font-size: 0.28rem;
            font-weight: bold;
            border-bottom: 2px solid #F1F1F1;
            span{
               display: inline-block;
               margin-right: 0.14rem;
               width: 0.06rem;
               height: 0.32rem;
               border-radius: 0.06rem;
               background-color: #0086FF;
            }
        }
        .info-list{
            @include df;
            @include df-jc-sb;
            font-size: 0.28rem;
            line-height: 0.56rem;
            color: #2E3A54;
        }
        &-name{
            margin-top: 0.22rem;
        }
    }
    .detail-bottom{
        position: fixed;
        left: 0;
        bottom:0;
        width: 100%;
        height: 0.98rem;
        background-color: #ffffff;
        @include df;
        @include df-jc-sb;
        &-allmoney{
            margin-left: 0.32rem;
            &-title{
                margin-top: 0.14rem;
                font-size: 0.2rem;
                color: #666666;
            }
            &-money{
                font-size: 0.3rem;
                color: #2E3A54;
                font-weight: bold;
            }
        }
        &-btn{
            width: 3.28rem;
            height: 100%;
            border:none;
            outline: none;
            color: #ffffff;
            font-size: 0.28rem;
            background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
        }
    }
}

// 订单支付
.play-order{
    height: 100%;
    padding-top: 0.9rem;
    font-size: 0;
    background-color: #f1f1f1;
    &-title{
        @include df;
        @include df-jc-sb;
        @include df-ai;
        height: 1.16rem;
        padding: 0 0.30rem;
        background-color: #ffffff;
        .order-id{
            @include fa;
            max-width: 4rem;
            p{
                font-size: 0.26rem;
                color: #2E3A54;
                vertical-align: bottom; //强制底线
                overflow: hidden; //隐藏超出部分
                text-overflow: ellipsis; //超出省略号
                white-space: nowrap;//强制超出不换行
            }
            a{
                font-size: 0.22rem;
                color: #018AFF;
                text-decoration: underline;
            }
        }
        .allprice{
            @include fn;
            font-size: 0.3rem;
            color: #EA7526;
        }
    }
    &-box{
        background-color: #ffffff;
    }
    &-list{
        margin-top: 0.2rem;
        padding: 0 0.30rem;
        &-title{
            height: 1.1rem;
            line-height: 1.1rem;
            font-size: 0.26rem;
            color: #2E3A54;
            border-bottom:0.01rem solid #F1F1F1;
        }
        &-item{
           @include df;
           @include df-ai;
           @include df-jc-sb;
           @include box-sizing;
           height: 1.1rem;
           border-bottom:0.01rem solid #F1F1F1;
           .left{
               @include df;
               @include df-ai;
               img{
                   width: 0.48rem;
                   height: 0.48rem;
               }
               label{
                   font-size: 0.26rem;
                   color: #2E3A54;
                   margin-left: 0.22rem;
               }
           }
           .right{
               display: block;
               width: 0.36rem;
               height: 0.36rem;
               border-radius: 0.36rem;
               background: url(./assets/images/common/icon-unselected.png) center center no-repeat;
               background-size: cover;
               &.active{
                background: url(./assets/images/common/icon-selected.png) center center no-repeat;
                background-size: cover;
               }
           }
        }
    }
    &-main{
        margin: 0 0.3rem;
        padding: 0.28rem 0;
        border-bottom: 0.02rem solid #F1F1F1;
        &-outline{
            padding: 0.22rem;
            min-height: 2.92rem;
            border:0.02rem solid #DCDCDC;
            background-color: #FAFAFA;
            border-radius: 0.08rem;
            .menu{
                font-size: 0.26rem;
                color: #2E3A54;
                span{
                   display: inline-block;
                   width: 1.46rem;
                   height: 0.48rem;
                   line-height: 0.48rem;
                   text-align: center;
                   border-radius: 0.48rem;
                   &.active{
                    color: #ffffff;
                    background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
                   }
                }
            }
            .content{
                font-size: 0.24rem;
                p{
                    line-height: 0.46rem;
                }
                .tips{
                    color: #666666;
                    margin-top: 0.12rem;
                }
                .infor{
                    color: #2E3A54;
                }
            }
        }
    }
    &-btn{
        width: calc(100% - 0.64rem);
        margin: 0 auto;
        padding-top: 1.48rem;
        padding-bottom: 0.5rem;
        button{
            display: block;
            width: 100%;
            height: 0.88rem;
            border-radius: 0.44rem;
            color: #FFFFFF;
            background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
        }
    }
}