// 订单列表
.order{
    height: 100%;
    // overflow: scroll;
    // padding-top: 1.86rem;
   &-main{
       padding: 0 0.3rem 0.32rem 0.3rem;
       &-list{
          margin-top: 0.3rem;
          padding: 0.24rem;
          width: 100%;
          border-radius: 0.18rem;
          box-shadow:0rem 0.02rem 0.18rem 0rem rgba(212, 214, 215, 1);
          &-title{
              @include df;
              @include df-jc-sb;
              line-height: 0.24rem;
              .list-jid{
                  font-size: 0.24rem;
                  color: #666666;
              }
              .list-status{
                  font-size: 0.24rem;
                  color: #EA7526;
              }
              .list-status-suc{
                color: #999;
              }
          }
          .list-content{
            //   background-color: #FAFAFA;
              border-radius: 0.08rem;
              padding-top: 0.1rem;
              &-list-tips{
                  display: flex;
                  align-items: center;
                  margin-bottom: 0.18rem;
              }
              .blue-word{
                  color: #018AFF;
              }
              // 提示
              &-tips{
                  margin-top: 0.2rem;
                //   padding-left: 0.3rem;
                  font-size: 0.24rem;
                  color: #EA7526;
                //   background: url(./assets/images/order/order-caveat.png) center left no-repeat;
                //   background-size: 0.24rem 0.24rem;
                  display: inline-block;
                  background: #FFF1EB;
                  padding: 0 0.05rem;
              }
              &-list{
                // @include df;
                // @include df-jc-sb;
                margin-top: 0.2rem;
              }
              &-left{
                @include df;
                @include df-ai-fs;
                justify-content: space-between;
                margin: 0 0 0.3rem;
                border-bottom: 1px solid #f2f2f2;
                padding-bottom: 0.18rem;
                &-bot{
                    // background-color: #f6f6f6;
                    border-radius: 0.08rem;
                    // padding: 0 0.22rem;
                    // margin-top: 0.2rem;
                }
                &-type{
                    @include fn;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    width: 0.98rem;
                    padding: 0.03rem 0;
                    font-size: 0.2rem;
                    border-radius: 0.36rem;
                    color: #0086FF;
                    border:1px solid #0086FF;
                    margin-right: 0.2rem;
                    // 商标服务
                    &.blue{
                        color: #3280FF;
                        border:1px solid #3280FF; 
                    }
                    // 点招聘
                    &.orange{
                        color: #FF7F2F;
                        border:1px solid #FF7F2F;
                    }
                    // 域名服务
                    &.purple{
                        color: #AB2FFF;
                        border:1px solid #AB2FFF;
                    }
                    // 一站通
                    &.green{
                        color: #18CE9A;
                        border:1px solid #18CE9A;
                    }

                }
                &-title{
                    color: #2E3A54;
                    font-size: 0.26rem;
                    // margin-left: 0.18rem;
                    //font-weight: bold;
                    .classes{
                        display: block;
                        font-size: 0.24rem;
                        color: #666;
                    }
                }
              }
              &-right{
                @include fn;
                font-size: 0.26rem;
                color: #2E3A54;
                text-align: right;
                line-height: 0.4rem;
                //font-weight: bold;
              }
              // 总计   
              &-allprice{
                //   margin-top: 0.2rem;
                  height: 0.72rem;
                  line-height: 0.72rem;
                  font-size: 0.26rem;
                  color: #3E4345;
                  text-align: right;
                //   border-top: 1px solid #eeeeee;
                  .price{
                      font-size: 0.3rem;
                  }
              }
          }
          .list-money{
              text-align: right;
              font-size: 0.26rem;
              color: #3E4345;
          }
       }
       .list-bottom{
            @include df;
            @include df-jc-sb;
            margin-top: 0.26rem;
            height: 0.6rem;
            line-height: 0.6rem;
            position: relative;
            &-time{
                font-size: 0.24rem;
                color: #999999;
            }
            &-btn{
                width: 1.5rem;
                height: 0.52rem;
                font-size: 0.24rem;
                color: #ffffff;
                border:none;
                outline: none;
                // background-color: #0086FF;
                background:linear-gradient(131deg, rgba(15, 179, 254, 1) 0%, rgba(0, 134, 255, 1) 100%);
                border-radius: 0.32rem;
                margin-left: 0.18rem;
            }
			&-gray{
				color:#8F8F8F;
				border: 1px solid #8F8F8F;
				background:#fff;
            }
            .btn_more{
                background:url(./assets/images/order/order_btn_more.png) left center no-repeat;
                background-size: 0.44rem 0.1rem;
                display: inline-block;
                width: 0.44rem;
                height: 100%;
                float: left;
            }
            .box_item{
                display: none;
                /* &.active{
                    display:block;
                    z-index:2;
                    position: absolute;
                    background:url(./assets/images/order/order_btn_more_bg.png) left top no-repeat;
                    background-size: 100% auto;
                    padding:0.3rem 0.34rem 0 0.34rem;
                    min-height: 1.16rem;
                    width:2.5rem;
                    top:0.4rem;
                    left:-0.32rem;
                }
                .box_item_list{
                    border:none;
                    color:#2E3A54;
                    line-height: 0.34rem;
                    padding:0.24rem 0;
                    text-align: center;
                    border-bottom: 1px solid #E6E6E6;
                    background: none;
                    border-radius: 0;
                    padding-bottom: 0.5rem;
                    &:last-child{
                        border:none;
                    }
                    
                } */
                &.active {
                    display: block;
                    z-index: 2;
                    position: absolute;
                    top: 0.8rem;
                    left: -0.24rem;
                    text-align: center;
                    background: #fff;

                    .box_list {
                        height: auto;
                        box-shadow: 0px 0px 4px 1px #d4d6d7;
                        text-align: center;
                        padding: 0 0.34rem;
                        position: relative;
                        border-radius: 3px;
                        margin: 0;
                        width: 2.5rem;
                    }

                    i {
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 12px solid transparent;
                        border-bottom: 13px solid #fff;
                        position: absolute;
                        top: -25px;
                        left: 0.52rem;
                        margin-left: -10px;
                    }

                    i:after {
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        border-top: 7px solid transparent;
                        position: absolute;
                        border-bottom: 12px solid #d4d6d7;
                        margin-left: -7px;
                        z-index: -1;
                        filter: blur(2px);
                    }
                }

                .box_item_list {
                    color: #2E3A54;
                    line-height: 0.74rem;
                    height: 0.74rem;
                    // padding: 0.24rem 0;
                    border-radius: 0;
                    text-align: center;
                    border: none;
                    border-bottom: 1px solid #E6E6E6;
                    background: none;
                    margin: 0;
                    width: 100%;

                    &:last-child {
                        border: none;
                    }

                }
            }
            
        }
   }
   .followC {
       ul{
           justify-content: space-between;
           li{
               width: 25%;
               margin-left: 0;
           }
       }
   }
}
// 订单详情
.order-deatil{
    .containerView-main{
        padding-top: 3.28rem !important;
    }
    .detail-top{
        position: fixed;
        width: 100%;
        height: 3.28rem;
        top: 0;
        z-index: 2;
        background: #fff;
        .mint-header{
            background:none !important;
            border:none!important;
        }
        .mint-header-title{
            color:#fff!important;
        }
        .mintui{
            color:#fff!important;
        }
        .detail-top-bg{
            position: absolute;
            height:3.28rem;
            width: 100%;
            top:0;
            left:0;
            background: url(./assets/images/order/order_detail_bg.png) left top no-repeat;
            background-size: 100% auto;
        }
        .detail-top-text{
            position: absolute;
            bottom:0.64rem;
            left:0.76rem;
            p{
                color:#fff;
                font-size: 0.26rem;
                line-height: 0.36rem;
            }
            .detail-top-text-b{
                font-size: 0.34rem;
                line-height: 0.48rem;
                padding-bottom:0.04rem;
            }
        }
    }
    .no-bottom{
        padding-bottom: 0 !important;
    }
    position: relative;
    height: 100%;
    background-color: #f1f1f1;
    font-size: 0;
    .detail-main{
        padding: 0 0.32rem;
        background-color: #ffffff;
		margin-top:0.2rem;
        &-title{
          @include df;
          @include df-jc-sb;
          height: 0.98rem;
          line-height: 0.98rem;
          font-size: 0.24rem;
          .order-id{
              color: #666666;
          }
          .status{
              color: #EA7526;
              font-weight: 400;
          }
        }
        &-list{
            padding: 0.36rem 0 0;
            // border-bottom: 1px solid #F1F1F1;
            &-name{
                @include df;
                // margin-bottom: 0.14rem;
                .typename{
                    @include fn;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    width: 0.98rem;
                    padding: 0.03rem 0;
                    font-size: 0.2rem;
                    border-radius: 0.36rem;
                    color: #FB495B;
                    border:2px solid #FB1B31;
                    // 商标服务
                    &.blue{
                        color: #3280FF;
                        border:2px solid #3280FF; 
                    }
                    // 点招聘
                    &.orange{
                        color: #FF7F2F;
                        border:2px solid #FF7F2F;
                    }
                    // 域名服务
                    &.purple{
                        color: #AB2FFF;
                        border:2px solid #AB2FFF;
                    }
                    // 一站通
                    &.green{
                        color: #18CE9A;
                        border:2px solid #18CE9A;
                    }
                   }
                   .shopname{
                       font-size: 0.28rem;
                       color: #2E3A54;
                       font-weight: bold;
                       margin-left: 0.18rem;
                   }
                   
            }
            .money{
                @include df;
                @include df-jc-sb;
                line-height: 0.48rem;
                font-size: 0.26rem;
                color: #999999;
            }
            &.all-price{
                padding: 0.28rem 0;
                .money{
                    font-size: 0.28rem;
                    color: #2E3A54;
                }
            }
        }
        
    }
    .detail-customer-info{
        padding: 0 0.32rem;
        //margin-top: 0.2rem;
        padding-bottom: 0.4rem;
        background-color: #ffffff;
        margin: 0.2rem 0;
        
        &-title{
            @include df;
            @include df-ai;
            height: 0.98rem;
            line-height: 0.98rem;
            font-size: 0.3rem;
            span{
               display: inline-block;
               margin-right: 0.16rem;
               width: 0.06rem;
               height: 0.32rem;
               border-radius: 0.04rem;
               background-color: #0086FF;
            }
        }
        .info-list{
            @include df;
            @include df-jc-sb;
            font-size: 0.24rem;
            line-height: 0.46rem;
            color: #666666;
        }
        &-name{
            // margin-top: 0.22rem;
        }
    }
    .list-bottom{
        position: fixed;
        left: 0;
        bottom:0;
        width: 100%;
        height: 0.98rem;
        background-color: #ffffff;
        // margin-top: 0.26rem;
        // line-height: 0.98rem;
        // padding: 0.24rem 0.32rem;
        align-items: center;
        padding: 0 0.32rem;
        
        @include df;
        @include df-jc-sb;
        &-allmoney{
            margin-left: 0.32rem;
            &-title{
                margin-top: 0.14rem;
                font-size: 0.2rem;
                color: #666666;
            }
            &-money{
                font-size: 0.3rem;
                color: #2E3A54;
                font-weight: bold;
            }
        }
        
        &-time {
            font-size: 0.24rem;
            color: #999999;
        }
        &-btn {
            width: 1.5rem;
            height: 0.52rem;
            font-size: 0.24rem;
            color: #ffffff;
            border: none;
            outline: none;
            // background-color: #0086FF;
            background: linear-gradient(131deg, rgba(15, 179, 254, 1) 0%, rgba(0, 134, 255, 1) 100%);
            border-radius: 0.32rem;
            margin-left: 0.18rem;
        }

        &-gray {
            color: #8F8F8F;
            border: 1px solid #8F8F8F;
            background: #fff;
        }

        .btn_more {
            background: url(./assets/images/order/order_btn_more.png) left center no-repeat;
            background-size: 0.44rem 0.1rem;
            display: inline-block;
            width: 0.44rem;
            height: 0.52rem;
            float: left;
        }

        .box_item {
            display: none;

            &.active {
                display: block;
                z-index: 2;
                position: absolute;
                bottom: 0.9rem;
                left: 0.14rem;
                text-align: center;
                background: #fff;
                
                .box_list{
                    height: auto;
                    box-shadow: 0px 0px 4px 1px #d4d6d7;
                    text-align: center;
                    padding: 0 0.34rem;
                    position: relative;
                    border-radius: 3px;
                    margin: 0;
                    width: 2.5rem;

                }
                i {
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 15px solid #fff;
                    border-bottom: 4px solid transparent;
                    position: absolute;
                    bottom: -17px;
                    left: 0.5rem;
                    margin-left: -10px;
                }

                i:after {
                    content: '';
                    position: absolute;
                    bottom: -6px;
                    left: 0;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-top: 11px solid #d4d6d7;
                    position: absolute;
                    border-bottom: 6px solid transparent;
                    margin-left: -7px;
                    z-index: -1;
                    filter: blur(2px);
                }
            }

            .box_item_list {
                color: #2E3A54;
                line-height: 0.74rem;
                height: 0.74rem;
                // padding: 0.24rem 0;
                text-align: center;
                border-radius: 0;
                border: none;
                border-bottom: 1px solid #E6E6E6;
                background: none;
                margin: 0;
                width: 100%;
                &:last-child {
                    border: none;
                }

            }
        

        }
    }
    .total-money{
        color: #FF621B;
    }
    .shopname{
        font-weight: bold;
        color: #2E3A54;
        font-size: 0.28rem;
        &.shop-status{
            font-weight: initial;
            font-size: 0.26rem;
        }
        .classes {
            font-size: 0.26rem;
            color: #2E3A54;
            font-weight: initial;
            &::after{
                content: '';
                display: inline-block;
                height: 0.2rem;
                width: 2px;
                background: #AFAFAF;
                margin: 0 0.38rem;
                opacity: 0.3;
            }
        }
    }
    .itemList{
        padding: 0.28rem 0;
        border-bottom: 1px solid #f2f2f2;
    }
}

// 订单支付
.play-order{
    height: 100%;
    // padding-top: 0.9rem;
    font-size: 0;
    background-color: #f1f1f1;
    &-title{
        font-size: 0.26rem;
        color:#999999;
        line-height: 0.36rem;
        background-color: #ffffff;
        padding:0 0.32rem;
        .order_text{
            text-align: center;
            margin-top:0.54rem;
        }
        .order_price{
            text-align: center;
            color:#2E3A54;
            font-size: 0.64rem;
            line-height: 0.9rem;
            margin:0.18rem 0 0 0;
            padding-bottom: 0.38rem;
            border-bottom: 1px solid #F1F1F1;
        }
        .order_detail{
            padding:0.26rem 0;
            p{
                line-height: 0.54rem;
                display: flex;
                justify-content:space-between;
                span{

                }
            }
        }
        .order-id{
            @include fa;
            max-width: 4rem;
            p{
                font-size: 0.26rem;
                color: #2E3A54;
                vertical-align: bottom; //强制底线
                overflow: hidden; //隐藏超出部分
                text-overflow: ellipsis; //超出省略号
                white-space: nowrap;//强制超出不换行
            }
            a{
                font-size: 0.22rem;
                color: #018AFF;
                text-decoration: underline;
            }
        }
        .allprice{
            @include fn;
            font-size: 0.3rem;
            color: #EA7526;
        }
    }
    &-box{
        background-color: #ffffff;
    }
    &-list{
        margin-top: 0.2rem;
        padding: 0 0.30rem;
        &-title{
            line-height: 0.36rem;
            font-size: 0.26rem;
            color: #2E3A54;
            padding:0.34rem 0.32rem 0.2rem 0.32rem;
            background-color:#F1F1F1;
        }
        &-item{
           @include df;
           @include df-ai;
           @include df-jc-sb;
           @include box-sizing;
           height: 1.1rem;
           border-bottom:0.01rem solid #F1F1F1;
           .left{
               @include df;
               @include df-ai;
               img{
                   width: 0.48rem;
                   height: 0.48rem;
               }
               label{
                   font-size: 0.26rem;
                   color: #2E3A54;
                   margin-left: 0.22rem;
               }
           }
           .right{
               display: block;
               width: 0.36rem;
               height: 0.36rem;
               border-radius: 0.36rem;
               background: url(./assets/images/common/icon-unselected.png) center center no-repeat;
               background-size: cover;
               &.active{
                background: url(./assets/images/common/icon-selected.png) center center no-repeat;
                background-size: cover;
               }
           }
           .balance_price{
               font-size: 0.3rem;
               color:#2E3A54;
               position: absolute;
               right: 0.96rem;
           }
        }
        &.changeName{
            position: relative;
            .play-order-list-item{
                opacity: 0.5;
            }
        }
    }
    .f_mt0{
        margin-top:0;
    }
    &-main{
        margin: 0 0.3rem;
        padding: 0.28rem 0;
        border-bottom: 0.02rem solid #F1F1F1;
        &-outline{
            padding: 0.22rem;
            min-height: 2.92rem;
            border:0.02rem solid #DCDCDC;
            background-color: #FAFAFA;
            border-radius: 0.08rem;
            .menu{
                font-size: 0.26rem;
                color: #2E3A54;
                span{
                   display: inline-block;
                   width: 1.46rem;
                   height: 0.48rem;
                   line-height: 0.48rem;
                   text-align: center;
                   border-radius: 0.48rem;
                   &.active{
                    color: #ffffff;
                    background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
                   }
                }
            }
            .content{
                font-size: 0.24rem;
                p{
                    line-height: 0.46rem;
                }
                .tips{
                    color: #666666;
                    // margin-top: 0.12rem;
                }
                .infor{
                    color: #2E3A54;
                }
            }
        }
    }
    &-btn{
        width: calc(100% - 0.64rem);
        margin: 0 auto;
        padding-top: 0.4rem;
        padding-bottom: 0.5rem;
        button{
            display: block;
            width: 100%;
            height: 0.88rem;
            border-radius: 0.44rem;
            color: #FFFFFF;
            font-size: 0.28rem;
            background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
        }
        .is_gray{
            background:#d3d3d3;
        }
    }
    .play_detail{
        color:#2E3A54;
        font-size: 0.28rem;
        text-align:center;
        padding-top: 0.4rem;
        line-height: 0.4rem;
        span{
            color:#EA7526;
        }
    }
	.play_mask{
		position: absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		z-index: 1003;
		.play_mask_bg{
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:#000;
			opacity: 0.4;
		}
		.play_mask_con{
			background: #fff;
			color:#999;
			text-align: center;
			width:80%;
			border-radius: 0.2rem;
			position:absolute;
			top:30%;
			left:10%;
			p{
				line-height: 1.1rem;
				font-size: 0.3rem;
			}
			.title{
				color: #333;
				line-height: 1.4rem;
				font-weight: 600;
				border-bottom: 1px solid #f1f1f1;
			}
			.red{
				border-bottom: 1px solid #f1f1f1;
				color: red;
			}
		}
    }
    
    // 换品牌词，退款方式
    .refund{
        padding: 0.22rem 0.3rem;
        font-size: 0.24rem;
        color: #2E3A54;
        &-title{
            margin-bottom: 0.16rem;
            span{
                color: #EA7526;
            }
        }
        &-list{
           @include df;
           &-left{
               @include fn;
               margin-right: 0.4rem;
           }
           &-right{
               @include fa;
               @include df;
               @include df-ai;
               .refund-item{
                   @include df;
                   @include df-ai;
                   @include fn;
                   &:first-child{
                       margin-right: 0.6rem;
                   }
                    .span-border {
                            @include fn;
                            display: block;
                            margin-right: 0.1rem;
                            height: 0.36rem;
                            width: 0.36rem;
                            background: url(./assets/images/common/icon-unselected.png) center center no-repeat;
                            background-size: contain;
                            &.input-img {
                                background: url(./assets/images/common/icon-selected.png) center center no-repeat;
                                height: 0.36rem;
                                width: 0.36rem;
                                background-size: contain;
                            }
                    }
               }
           }
        }
    }
    // 当不需要支付时
    .change-cover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}
.f_tar{
    text-align: right;
    width:100%;
}

.f_top{
    div{
        margin-top: 0.2rem;
    }
}