// 登录
// .login{
//     height: 100%;
//     width: 100%;
//     overflow: auto;
//     &-banner{
//         width: 100%;
//         height: 4.02rem;
//         background: url(./assets/images/user/login_bg2.png) top center no-repeat;
//         background-size: cover;
//     }
//     &-main{
//         margin:-0.8rem 0.52rem 0.4rem 0.52rem;
//         padding: 0.28rem;
//         background-color: #ffffff;
//         box-shadow:0px 0px 24px rgba(84,193,243,0.38);
//         border-radius:0.16rem;
//     }
//     &-menu{
//         margin-top: 0.52rem;
//         margin-bottom: 0.36rem;
//         border-bottom: 0.02rem solid #eeeeee;
//         span{
//             display: inline-block;
//             width: 50%;
//             padding-bottom: 0.4rem;
//             font-size: 0.32rem;
//             color: #6F7181;
//             text-align: center;
//             &.active{
//                 color: #248FFF;
//                 border-bottom: 0.04rem solid #4990FD;
//             }
//         }
//     }
//     &-content{
//         &-login{
//             input{
//                 width: 100%;
//                 height: 1rem;
//                 font-size: 0.28rem;
//                 padding-left: 0.64rem;
//                 outline: none;
//                 border:none;
//                 border-bottom: 0.02rem solid #eeeeee;
//                 &::-webkit-input-placeholder {
//                     color: #BEC6D5;
//                 }
//                 &.email{
//                     background: url(./assets/images/user/icons-email.png) center left no-repeat;
//                     background-size: 0.32rem;
//                 }
//                 &.password{
//                     background: url(./assets/images/user/icons-password.png) center left no-repeat;
//                     background-size: 0.32rem;
//                 }
//             }
//             .forget{
//                 button{
//                     float: right;
//                     margin-top: 0.24rem;
//                     background-color: transparent;
//                     font-size: 0.24rem;
//                     color: #6F7181;
//                 }
                
//             }
//             .submit{
//                 display: block;
//                 margin:0.8rem auto 0.6rem; 
//                 width: 100%;
//                 height: 0.8rem;
//                 font-size: 0.32rem;
//                 color: #ffffff;
//                 background: url(./assets/images/user/btn-bg.png) center center no-repeat;
//                 background-size: cover;
//             }
//         }
//         &-register{
//             .list{
//                 @include df;
//                 @include df-ai-fs;
//                 @include df-ai;
//                 width: 100%;
//                 height: 1rem;
//                 font-size: 0.28rem;
//                 border-bottom: 0.02rem solid #eeeeee;
//                 label{
//                     @include fn;
//                     width: 1.72rem;
//                     font-size: 0.28rem;
//                     color: #2E3A54;
                    
//                 }
//                 input{
//                     @include fa;
//                     height: 100%;
//                     font-size: 0.28rem;
//                     outline: none;
//                     border:none;
//                     background-color: transparent;
//                     &::-webkit-input-placeholder {
//                         color: #BEC6D5;
//                     }
//                 }
//             }
//             .list-item{
//                 @include df;
//                 @include df-ai-fs;
//                 @include df-ai;
//                 width: 100%;
//                 height: 1rem;
//                 font-size: 0.28rem;
//                 border-bottom: 0.02rem solid #eeeeee;
//                 button{
//                     margin-right: 0.52rem;
//                     width: 1.2rem;
//                     height: 0.48rem;
//                     background: url(./assets/images/user/icons-code.png) center center no-repeat;
//                     background-size: cover;
//                 }
//                 input{
//                     @include fa;
//                     height: 100%;
//                     font-size: 0.28rem;
//                     outline: none;
//                     border:none;
//                     background-color: transparent;
//                     &::-webkit-input-placeholder {
//                         color: #BEC6D5;
//                     }
//                 }
//             }
//             .rule{
//                 @include df;
//                 @include df-ai-fs;
//                 @include df-ai;
//                 margin-top: 0.2rem;
//                 .select{
//                     margin-right: 0.12rem;
//                     width: 0.28rem;
//                     height:0.28rem;
//                     border-radius: 0.14rem;
//                     border:0.02rem solid #BEC6D5;
//                     &.on{
//                         background: url(./assets/images/user/icons-sure.png) center center no-repeat;
//                         background-size: cover;
//                         border:none;
//                     }
//                 }
//                 p{
//                     font-size: 0.24rem;
//                     color: #6F7181;
//                     span{
//                         color: #248FFF;
//                     }
//                 }
//             }
//             .register{
//                 display: block;
//                 margin:0.8rem auto 0.32rem; 
//                 width: 100%;
//                 height: 0.8rem;
//                 font-size: 0.32rem;
//                 color: #ffffff;
//                 background: url(./assets/images/user/btn-bg.png) center center no-repeat;
//                 background-size: cover;
//             }
//         }
//     }
//     // &-name{
//     //  padding-left: 0.56rem;
//     //  margin-bottom: 0.84rem;
//     //  font-size: 0.6rem;
//     //  color: #ffffff;
//     //  font-weight: 600;
//     // }
//     // &-main{
//     //     .item-list{
//     //         @include df;
//     //         margin: 0 0.56rem;
//     //         height: 1.38rem;
//     //         line-height: 1.38rem;
//     //         border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.39);
//     //         label{
//     //             @include fn;
//     //             width: 1.12rem;
//     //             font-size: 0.3rem;
//     //             color: #ffffff;
//     //         }
//     //         input{
//     //             @include fa;
//     //             color: rgba($color: #ffffff, $alpha: 0.66);
//     //             border:none;
//     //             outline: none;
//     //             background-color: transparent;
//     //             font-size: 0.3rem;
//     //             &::-webkit-input-placeholder {
//     //                 color: rgba($color: #ffffff, $alpha: 0.66);
//     //             }
//     //         }
//     //     }
//     // }
//     // &-btn{
//     //     button{
//     //         display: block;
//     //         margin: 0.84rem auto 0;
//     //         width: calc(100% - 1.12rem);
//     //         height: 0.88rem;
//     //         font-size: 0.28rem;
//     //         color:rgba(1,138,255,1);
//     //         border-radius: 0.44rem;
//     //         outline: none;
//     //         border:none;
//     //         font-family:PingFangHK-Regular;
//     //         background-color: #ffffff;
//     //     }
//     // }
// }

// login 2.0
.login-news{
   height: 100%;
   padding: 0 0.54rem;
   h2{
    margin-top: 1.14rem;
    font-size: 0.6rem;
    color: #2C3852;
    font-weight: 400;
   }
   &-main{
       margin-top: 1.08rem;
       .item{
             width: 100%;
             height: 1.2rem;
             padding-left: 0.7rem;
             @include box-sizing;
             font-size: 0.34rem;
             outline: none;
             border:none;
             border-bottom: 0.02rem solid #E0E0E0;
             color: #2C3852;
             &::-webkit-input-placeholder {
                color: #999999;
            }
            &.mobile{
                background: url(./assets/images/user/phone.png) center left no-repeat;
                background-size: 0.34rem 0.46rem;
            }
            &.password{
                background: url(./assets/images/user/mima.png) center left no-repeat;
                background-size: 0.38rem 0.44rem;
            }
       }
       &-prompt{
           @include df;
           @include df-ai-fs;
           @include df-jc-sb;
           font-size: 0.30rem;
           color: #2C3852;
           .no-user{
               a{
                color: #0086FF;
               }
               
           }
           .forget{
                color: #0086FF;
           }
       }
   }
   .submit{
       margin: 0.86rem auto 0.52rem;
       width: 100%;
       height: 0.96rem;
       font-size: 0.34rem;
       color: #999999;
       border-radius:0.48rem;
       background: #E0E0E0;
       &.active{
            color: #ffffff;
            background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
       }
   }
}

// login_v1
.login2{
    padding: 0 0.56rem;
    &-top{
        .logo{
            display: block;
            width: 1.8rem;
            height: 0.66rem;
            margin: 0.68rem auto 0.80rem;
        }
    }
    &-title{
        font-size: 0.6rem;
        color: #2C3852;
    }
    &-type{
        margin-top: 0.98rem;
        button{
            margin-bottom: 0.28rem;
            width: 100%;
            height: 0.96rem;
            font-size: 0.32rem;
            color: #2C3852;
            border:0.02rem solid #A3ABBC;
            border-radius: 0.04rem;
            background-color: transparent;
        }
    }
    &-forget{
        margin-top: 0.18rem;
        @include df;
        @include df-jc-sb;
        button{
            font-size: 0.3rem;
            color: #2C3852;
            background-color: transparent;
            &.login2-forget-register{
                color: #0086FF;
            }
        }
    }
}
// 注册
.register{
    height: 100%;
    padding: 0 0.54rem;
    .mint-header{
        border-bottom: none !important;
    }
    h2{
        margin-top: 1.74rem;
        font-size: 0.6rem;
        color: #2C3852;
        font-weight: normal;
    }
    &-menu{
       margin: 0.6rem auto 0.96rem;
       width: 100%;
       height: 0.52rem;
       background: url(./assets/images/user/rgbg.png) center center no-repeat;
       background-size: cover;
       &.active{
        background: url(./assets/images/user/rgbg-active.png) center center no-repeat;
        background-size: cover;
       }
    }
    &-main{
        // -email
        &-email{
            &-rule{
                margin: 0.42rem auto 0.5rem;
                @include df;
                @include df-ai-fs;
                @include df-ai;
                font-size: 0.26rem;
                i{
                    margin-right: 0.1rem;
                    display: block;
                    width: 0.32rem;
                    height: 0.32rem;
                    border-radius: 100%;
                    border: 0.02rem solid #979797;
                }
                span{
                    color: #999999;
                }
                a{
                    color: #0086FF;
                    text-decoration: underline;
                }
                &.agree{
                   i{
                    background: url(./assets/images/user/icons-rule.png) center center no-repeat;
                    background-size: cover;
                    border:none;
                   }
                }
            }
        }
        .list-item{
            @include df;
            @include df-ai-fs;
            @include df-ai;
            width: 100%;
            height: 1.2rem;
            border-bottom: 0.02rem solid #E0E0E0;
            &.code{
                button{
                    display: block;
                    min-width: 1.5rem;
                    text-align: center;
                    font-size: 0.3rem;
                    color: #0086FF;
                    background-color: transparent;
                }
            }
            input{
                @include fa;
                @include box-sizing;
                height: 100%;
                font-size: 0.34rem;
                color: #2C3852;
                outline: none;
                border: none;
                background-color: #ffffff;
                &::-webkit-input-placeholder {
                    color: #999999;
                }
            }
        }
        .register-btn{
            width: 100%;
            height: 0.96rem;
            font-size: 0.34rem;
            color: #999999;
            background:#E0E0E0;
            border-radius:0.06rem;
            background: #E0E0E0;
            &.active{
                    color: #ffffff;
                    background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
            }
            &.sure{
                margin-top: 0.84rem;
            }
        }
    }
}
// register_v1
.register-news{
    height: 100%;
    padding: 0 0.56rem;
    overflow-y: auto;
    .mint-header{
        border-bottom: none !important;
        background-color: transparent !important;
        position: absolute !important;
    }
    &-top{
        @include df;
        @include fd-c;
        @include df-ai;
        .logo{
            display: block;
            width: 1.8rem;
            height: 0.66rem;
            margin: 0.68rem auto 0.76rem;
        }
        .title{
            margin-bottom: 0.42rem;
            display: block;
            color: #2C3852;
            font-size: 0.6rem;
            font-weight: normal;
        }
    }
    &-main{
        input{
            font-size: 0.34rem;
            color: #2C3852;
            border-radius: 0;
            &::-webkit-input-placeholder {
                color: #999999;
            }
        }
        &-one{
            @include df;
            height: 1.2rem;
            .last-name{
                @include fn;
                @include box-sizing;
                height: 100%;
                width: 33.6%;
                margin-right: 0.42rem;
                border:none;
                border-bottom: 0.02rem solid #E0E0E0;
            }
            .name{
                @include fa;
                @include box-sizing;
                height: 100%;
                width: 66.4%;
                border:none;
                border-bottom: 0.02rem solid #E0E0E0;
            }
        }
        &-item{
            @include df;
            height: 1.2rem;
            border-bottom: 0.02rem solid #E0E0E0;
            &.code{
                button{
                    display: block;
                    min-width: 2rem;
                    text-align: center;
                    font-size: 0.3rem;
                    color: #0086FF;
                    background-color: transparent;
                }
            }
            &.face-id{
                position: relative;
                line-height: 1.2rem;
                background: url(./assets/images/user/scanning.png) center right no-repeat;
                background-size: 0.46rem 0.46rem;
                .up-faceid{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
            }
            input{
                height: 100%;
                width: 100%;
                border: none;
                @include fa;
                @include box-sizing;
                background-color: #ffffff;
            }
        }
    }
    &-rule{
        margin: 0.34rem auto 0.54rem;
        @include df;
        @include df-ai-fs;
        @include df-ai;
        i{
            margin-right: 0.1rem;
            display: block;
            width: 0.32rem;
            height: 0.32rem;
            border-radius: 100%;
            border: 0.02rem solid #979797;
            &.active{
                background: url(./assets/images/user/icons-rule.png) center center no-repeat;
                background-size: cover;
                border:none;
            }
        }
        &-agree{
            font-size: 0.26rem;
            color: #999999;  
        }
        &-privacy{
            color: #0086FF;
        }
    }
    &-btn{
        width: 100%;
        height: 0.96rem;
        font-size: 0.34rem;
        color: #999999;
        background: #E0E0E0;
        border-radius: 0.06rem;
        margin-bottom: 0.6rem;
        &.active{
            color: #ffffff;
            background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
        }
    }
}

// 注册成功
.register-success{
    height: 100%;
    .icons{
        margin: 2.68rem auto 0;
        display: block;
        width: 1.58rem;
        height: 1.58rem;
        background: url(./assets/images/user/success.png) center center no-repeat;
        background-size: cover;
    }
    p{
        margin: 0.34rem auto 1.42rem;
        text-align: center;
        font-size: 0.34rem;
        color: #2C3852;
    }
    button{
        display: block;
        width: calc(100% - 1.08rem);
        margin: 0 auto;
        height: 0.96rem;
        font-size: 0.34rem;
        color: #FFFFFF;
        background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
        border-radius:0.48rem;
    }
}

// 隐私条款
.privacy{
    height: 100%;
    overflow-y: scroll;
    padding-top: 0.9rem;
    &-main{
        padding: 0 0.32rem 0.32rem 0.32rem;
        h1{
            margin: 0.54rem auto 0.34rem;
            font-size: 0.48rem;
            font-weight: normal;
            color: #2C3852;
            text-align: center
        }
        h2{
            font-size: 0.28rem;
            color: #2C3852;
            margin-top: 0.2rem;
            margin-bottom: 0.1rem;
        }
        p{
            font-size: 0.28rem;
            color: #2C3852;
            line-height: 0.42rem;
            word-break: break-all;
            margin-top: 0.1rem;
            &.hollow-dot{
                &::before{
                    content: '';
                    margin-right: 0.1rem;
                    display: inline-block;
                    width: 0.08rem;
                    height: 0.08rem;
                    border:0.01rem solid #000000;
                    border-radius: 0.08rem;
                    vertical-align: middle;
                    @include box-sizing;
                }
            }
            &.list-dot{
                &::before{
                    content: '';
                    margin-right: 0.1rem;
                    display: inline-block;
                    width: 0.08rem;
                    height: 0.08rem;
                    border-radius: 0.08rem;
                    vertical-align: middle;
                    background-color: #000000;
                }
            }
        }
    }
    
}

// 忘记密码
.forget{
    position: relative;
    .register-main{
        margin-top: 1rem;
    }
    .register-btn{
        position: absolute;
        width: calc(100% - 1.08rem);
        bottom: 2.4rem;
    }
}

// 验证码登录，账号密码登录
.login-pd , .login-code{
    position: relative;
    .list-tip{
        @include df;
        @include df-jc-sb;
        margin: 0.42rem auto 1.2rem;
        button{
            font-size: 0.3rem;
            color: #2C3852;
            background-color: transparent;
        }
    }
    .register-main{
        margin-top: 0.62rem;
    }
    .logo{
        position: absolute;
        left: 50%;
        bottom:2.4rem;
        transform: translateX(-50%);
        width: 1.8rem;
        height: 0.66rem;
    }
}

// 人脸登录
.login-face{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1;
    &-main{
        h2{
            text-align: center;
            font-size: 0.44rem;
            color: #2C3852;
        }
        &-box{
            margin: 1.16rem auto 0;
            width: 3.02rem;
            height: 3.02rem;
            border:1px solid #eeeeee;
            background-size: cover;
            background-position: center;
        }
        &-upload{
            opacity: 0;
        }
    }
}