.feekbook{
    height: 100%;
    background: #f1f1f1;
    // padding-top: 0.9rem;
    font-size: 0;
    // overflow: scroll;
    .containerView-main{
        padding-bottom: 0;
    }
    .feekbook-box{
        .textarea-block{
            padding: 0.42rem 0.32rem;
            background: #fff;
            margin-bottom: 0.2rem;
            // width: 100%;
            textarea{
                width: 100%;
                height: 2.58rem;
                resize: none;
                border-radius: 0.08rem;
                border: 1px solid #DCDCDC;
                padding: 0.26rem 0.24rem;
                color: #2C3852;
                box-sizing: border-box;
                font-family: weiruanyahei;
                outline: none;
                -webkit-appearance: none;
            }
        }
        .feekbook-upload{
            background: #fff;
            padding: 0.42rem 0.32rem;
            // position: absolute;
            width: 100%;
            .upload-til{
                font-size: 0.28rem;
                color: #2C3852;
            }
            .voucher-center{
                width: 100%;
                background: #fff;
                left: 0;
                padding-bottom: 0.32rem;
                display: inline-block;
                .voucher-case{
                    display: inline-block;
                    width: 1.98rem;
                    background-size: auto 100%;
                    height: 2.6rem;
                    margin-right: 5%;
                    opacity: 1;
                    float: left;
                    position: relative;
                    border-radius: 0.08rem;
                    margin-top: 5%;
                    .img_minus{
                        overflow: hidden;
                        height: 100%;
                        max-width: 100%;
                        border: 1px solid #ccc;
                        border-radius: 0.04rem;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        .img-voucher{
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: cover;
                            width: 100%;
                            height: 100%;
                            max-width: 100%;
                            width: 3rem;
                            text-align: center;
                            img{
                                text-align: center;
                                height: 0.48rem;
                                margin-top: 0.76rem;
                                margin-bottom: 0.18rem;

                            }
                            span{
                                font-size: 0.24rem;
                                color: #999;
                                display: block;
                                text-align: center;
                            }
                        }
                        .upload-img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                        }
                    }
                    .del-icon{
                        position: absolute;
                        z-index: 2;
                        top: 0rem;
                        right: 0;
                        left: 50%;
                        width: 0.47rem;
                        height: 0.47rem;
                        transform: translate(-50%, -50%);
                    }
                    &:nth-child(3){
                        margin-right: 0;
                    }
                }
            }
        }
        .psw-submit{
            padding: 0.8rem 0.32rem;

            span {
                background: linear-gradient(131deg, rgba(15, 179, 254, 1) 0%, rgba(0, 134, 255, 1) 100%);
                color: #fff;
                width: 100%;
                padding: 0.24rem 0;
                font-size: 0.28rem;
                display: inline-block;
                text-align: center;
                border-radius: 0.5rem;
            }
        }
    }
    .upload-msg {
        padding: 0rem 0.32rem !important;
        .tips{
            font-size: 0.28rem;
            color: #2E3A54;
            position: relative;
            border-bottom: 1px solid #F1F1F1;
            padding: 0.28rem 0 0.28rem 0.2rem;
            &::before{
                content: '';
                height: 0.26rem;
                width: 0.06rem;
                background: #0086FF;
                border-radius: 5rem;
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
        .infor{
            font-size: 0.28rem;
            color: #2E3A54;
            padding: 0.28rem 0;
            border-bottom: 1px solid #F1F1F1;
            &:last-child{
                border-bottom: none;
            }
        }
    }
    .upload-msg-img{
        .upload-til{
            // font-size: 0.28rem;
            // color: #2E3A54;
            position: relative;
            // border-bottom: 1px solid #F1F1F1;
            padding-left: 0.2rem;

            &::before {
                content: '';
                height: 0.26rem;
                width: 0.06rem;
                background: #0086FF;
                border-radius: 5rem;
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
}