.material{
    font-size: 0;
    // overflow: scroll;
    // padding-top: 0.9rem;
    height: 100%;
    .mint-button-text{
        color: #2C3852;
    }
    .tips{
        font-size: 0.24rem;
        color: #999;
        padding: 0.2rem 0.2rem 0 ;
        // margin: 0.24rem;
        .tips-box{
            border-radius: 0.12rem;
            background: rgba(255, 101, 33, .1);
            padding: 0.12rem 0.2rem;

            img{
                height: 0.44rem;
                vertical-align: middle;
            }
            span{
                color: #FF4C18;
                vertical-align: middle;

            }
        }
    }
    .capiral-bottom{
        // padding-top: 0.9rem;
        .capiral-box{
            padding: 0.24rem;
        }
        ul{
            li{
                height:2.8rem;
                width: 32.5%;
                display: inline-block;
                border: 1px solid #eee;
                margin: 0.8% 0 0 0.8%;
                overflow: hidden;
                position: relative;
                // input{
                //     position: absolute;
                //     z-index: 1;
                //     height: 0.32rem;
                //     width: 0.32rem;
                //     background: rgba(195, 195, 195, 1);
                //     opacity: 0.6801;
                //     display: inline-block;
                //     -webkit-appearance: radio;
                // }
                .select-icons{
                    position: absolute;
                    top: 0.05rem;
                    right: 0.05rem;
                    width: 0.36rem;
                    height: 0.36rem;
                    border-radius: 50%;
                    border: 0.01rem solid #dddddd;
                    background: url(./assets/images/common/icon-unselected.png) center center;
                    z-index: 1;
                    &.active{
                        background: url(./assets/images/common/icon-selected.png) center center;
                        background-size: 100%;
                        background-color: #fff;
                    }
                }
                img{
                    height: 100%;
                    width: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    .save-img{
        position: fixed;
        bottom: 0.24rem;
        left: 0.24rem;
        width: calc(100% - 0.48rem);
        padding: 0.24rem 0;
        background: linear-gradient(131deg, #0fb3fe 0%, #0086ff 100%);
        font-size: 0.28rem;
        color: #fff;
        text-align: center;
        border-radius: 0.5rem;
    }
}
