.support{
    font-size: 0;
    // overflow: scroll;
    // padding-top: 0.9rem;
    height: 100%;
    .support-box{
		padding-bottom: 0!important;
		// padding-top: 0!important;
        background: #ffffff;
        &-title{
            margin-top: 0.54rem;
            font-size: 0.36rem;
            color: #2C3852;
            padding-left: 0.32rem;
        }
		// 新客服与帮助
		.support_top{
			background: url(./assets/images/user/support/icon_support_bg.png) center center no-repeat;
			background-size: 100% 100%;
			width:100%;
			height: 3.5rem;
			.icon_left{
				background: url(./assets/images/user/support/icon_left.png) center center no-repeat;
				background-size: 100% 100%;
				width:0.44rem;
				height:0.44rem;
				position: absolute;
				top:0.22rem;
				left:0.24rem;
			}
		}
		.support_con{
			padding:0 0.16rem;
			.support_con_list{
				overflow:hidden;
				margin:0.54rem 0 0.2rem 0;
				.con_list_item{
					width:50%;
					float: left;
					text-align: center;
					.list_item_box{
						// border: 1px solid rgba(151,151,151,0.1);
						margin:0.2rem;
						border-radius: 0.16rem;
						box-shadow:0px 1px 0.3rem 0px rgba(242,244,255,1);
						padding-bottom: 0.36rem;
					}
					img{
						width:0.8rem;
						height:0.8rem;
						margin-top:0.36rem;
					}
					p{
						margin-top:0.08rem;
						font-size: 0.3rem;
						color:#2C3852;
						line-height: 0.42rem;
					}
				}
			}
		}
        .support-top{
            text-align: center;
            padding: 0.62rem 0 0.78rem;
            margin-bottom: 0.2rem;
            background: #fff;
            .support-logo{
                height: 1.62rem;
            }
            .support-linkway{
                padding-top: 0.76rem;
                color: #2C3852;
                font-size: 0.24rem;
            }
            .support-btn{
                margin: 0.24rem 0 0;
                background:linear-gradient(131deg, rgba(15, 179, 254, 1) 0%, rgba(0, 134, 255, 1) 100%);
                border-radius: 0.44rem;
                padding: 0.24rem 1.78rem;
                color: #fff;
                display: inline-block;
                img{
                    height: 0.32rem;
                    vertical-align: middle;
                }
                span{
                    vertical-align: middle;
                    font-size: 0.28rem;
                    padding-left: 0.18rem;
                }
            }
        }
        .support-msg{
            .manage{
                background: #fff;
                padding: 0.3rem 0.32rem 0;
                margin-bottom: 0.2rem;
                .manage-post{
                    font-size: 0.28rem;
                    color: #2C3852;
                    position: relative;
                    padding-left: 0.22rem;
                    &::after{
                        content: '';
                        display: inline-block;
                        border-radius: 0.03rem;
                        height: 0.26rem;
                        width: 0.06rem;
                        background: #0086FF;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);

                        
                    }
                }
                .manage-msg {
                    .manage-list{
                        border-bottom: 1px solid #F1F1F1;
                        padding: 0.24rem 0;
                        em{
                            font-size: 0.24rem;
                            color: #999;
                            font-style: inherit;
                            padding-bottom: 0.02rem;
                        }
                        p{
                            font-size: 0.28rem;
                            color: #2C3852;
                        }
                    }
                    .link-phone{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: none;
                        img{
                            height: 0.4rem;
                        }
                    }
                }
            }
        }
        .been-bot{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.48rem 0.34rem;
            .been-left{
                border: 1px dashed #DADADA;
                width: 100%;
            }
            .been-right{
                border: 1px dashed #DADADA;
                width: 100%;

            }
            span{
                font-size: 0.24rem;
                color: #B7B7B7;
                white-space:nowrap;
                padding: 0 0.42rem;
            }
        }
    }
}
//智能客服
.customer{
	height: 100%;
	.customer-box{
        padding-bottom: 1.2rem!important;
        scroll-behavior: smooth;
		.customer_con{
			.customer_con_box{
				.customer_con_left{
					margin-top:0.4rem;
					display: flex;
					.icon_left_bg{
						background: url(./assets/images/user/support/icon_head_g.png) center center no-repeat;
						background-size: 100% 100%;
						width:0.8rem;
						height: 0.8rem;
						flex:none;
						margin-left:0.32rem;
						margin-right: 0.26rem;
					}
					.left_text{
						color:#434D64;
						font-size: 0.28rem;
						line-height: 0.4rem;
						font-weight: 400;
						padding:0.2rem 0.26rem;
						background: #ffffff;
						width:4.74rem;
						border-radius:0 0.1rem 0.1rem 0.1rem;
						position: relative;
						p{
							
						}
						.title{
							color:#434D64;
							font-size: 0.28rem;
							line-height: 0.4rem;
							font-weight: 500;
						}
						.exp{
							color:#999999;
							font-size: 0.22rem;
							line-height: 0.32rem;
							font-weight: 400;
							padding-bottom: 0.14rem;
						}
						.question{
							color:#0086FF;
							font-size: 0.22rem;
							line-height: 0.32rem;
							font-weight: 400;
							padding:0.14rem 0;
							border-bottom: 1px solid #EDEDED;
							&:last-child{
								border:none;
							}
						}
						&::after{
							content: "";
							display: inline-block;
							position: absolute;
							width: 0;
							height: 0;
							border-left: 0.17rem solid transparent;
							border-bottom: 0.17rem solid transparent;
							border-right: 0.17rem solid #ffffff;
							left: -0.34rem;
							top: 0;
						}
					}
					.left_pdn{
						padding-bottom:0;
					}
				}
				.customer_con_right{
					margin-top:0.4rem;
					display: flex;
					justify-content: flex-end;
					.icon_right_bg{
						background: url(./assets/images/user/support/icon_head_g.png) center center no-repeat;
						background-size: 100% 100%;
						width:0.8rem;
						height: 0.8rem;
						flex:none;
						margin-left:0.26rem;
						margin-right: 0.32rem;
						border-radius:50%;
					}
					.right_text{
						width:4.74rem;
						background: #0086FF;
						color:#ffffff;
						font-size: 0.28rem;
						line-height: 0.4rem;
						font-weight: 400;
						padding:0.2rem 0.26rem;
						border-radius:0.1rem 0 0.1rem 0.1rem;
						position: relative;
						&::after{
							    content: "";
								display: inline-block;
								position: absolute;
								width: 0;
								height: 0;
								border-right: 0.17rem solid transparent;
								border-bottom: 0.17rem solid #0086FF;
								right: -0.16rem;
								top: 0;
								transform: rotate(90deg);
						}
					}
				}
			}
		}
	}
	.customer_bottom{
		color:#999999;
		line-height: 0.4rem;
		font-size: 0.28rem;
		display: flex;
		justify-content: space-between;
		position: fixed;
		bottom: 0;
		width: 100%;
		height:1rem;
		background: #ffffff;
		align-items: center;
		padding:0 0.32rem;
		.call_phone{
			background: url(./assets/images/user/support/icon_ophone.png);
			background-size:100% 100%;
			width:0.4rem;
			height:0.4rem;
		}
	}
}