.subSuccess{
    .subSuccess_con{
        padding:2.2rem 0.5rem 0.5rem 0.5rem;
        text-align: center;
        img{
            width:1.5rem;
            height: 1.5rem;
        }
        .subSuccess_txt{
            font-size: 0.24rem;
            color:#999;
            padding-top:0.54rem;
            :first-child{
                font-size: 0.4rem;
                color:#2C3852;
                padding-bottom:0.1rem;
            }
        }
        .subSuccess_btn_box{
            display: flex;
            justify-content: space-between;
            margin-top:1.58rem;
            padding:0 0.08rem;
            .left_btn{
                background:linear-gradient(131deg, #0fb3fe 0%, #0086ff 100%);
                border-radius: 0.4rem;
                color:#fff;
                width: 3rem;
                height: 0.8rem;
                font-size: 0.28rem;
                line-height: 0.8rem;
            }
            .right_btn{
                width:3rem;
                height: 0.8rem;
                border:1px solid #0086ff;
                color:#0086ff;
                border-radius:0.4rem;
                line-height: 0.8rem;
                font-size: 0.28rem;
            }
        }
    }
}