// 头部修改
#app .product-list .product-list-header .mint-header{
    background-color: transparent;
    border-bottom: none;
    position: relative;
    .mint-header-button.is-left{
        color: #ffffff;
    }
    .mint-header-title{
        color: #ffffff;
    }
}
// 点商标列表
.product-list{
    @include df;
    @include fd-c;
    height: 100%;
    overflow: scroll;
    &-header{
        @include fn;
        height: 4.48rem;
        background: url(./assets/images/trademark/headbg.png) center center no-repeat;
        background-size: cover;
		position: fixed;
		width: 100%;
    }
    &-search{
        position: relative;
        @include df;
        @include df-jc-sb;
        height: 0.92rem;
        margin: 0.78rem 0.32rem 0.64rem 0.32rem;
        border-radius: 0.48rem;
        border: 0.02rem solid rgba($color: #ffffff, $alpha: 0.6);
       input{
           @include fa;
           padding-left: 0.52rem;
           border-top-left-radius: 0.48rem;
           border-bottom-left-radius: 0.48rem;
           border:none;
           outline: none;
           background-color: transparent;
           color: rgba($color: #ffffff, $alpha: 0.6);
           z-index: 1;
       } 
       .search{
           @include fn;
           width: 1.88rem;
           padding-left: 0.7rem;
           font-size: 0.3rem;
           color: #ffffff;
           border-top-right-radius: 0.48rem;
           border-bottom-right-radius: 0.48rem;
           background: rgba($color: #ffffff, $alpha: 0.18) url(./assets/images/trademark/icon-search.png) 0.4rem center no-repeat;
           background-size: 0.3rem 0.3rem;
           z-index: 1;
       }
       &-tips{
        @include df;
        @include df-jc-sb;
        position: absolute;
        top: 0;
        left: 0.52rem;
        width: calc(100% - 2.4rem);
        padding-right: 0.2rem;
        height: 0.92rem;
        line-height: 0.92rem;
        font-size: 0.28rem;
        color: rgba($color: #ffffff, $alpha: 0.5);
        z-index: 0;
    }
    }
    &-toptips{
        margin: 0 0.56rem;
        font-size: 0.26rem;
        color: #ffffff;
        @include df;
        @include df-jc-sb;
        a{
            color: #ffffff;
            padding-left: 0.34rem;
            &.rule{
                background: url(./assets/images/trademark/icon-rule.png) no-repeat;
                background-size: 0.3rem 0.3rem;
            }
            &.guide{
                background: url(./assets/images/trademark/icon-guide.png) no-repeat;
                background-size: 0.3rem 0.3rem;
            }
            &.mark{
                background: url(./assets/images/trademark/icon-mark.png) no-repeat;
                background-size: 0.3rem 0.3rem;
            }
        }
    }
    &-main{
        @include fa;
        height: 100%;
		padding-top:4.48rem;
        &-nosearch{
            .product-list-main-item{
                    margin:0.4rem 0.32rem;
                    padding: 0.34rem 0.46rem;
                    font-size: 0;
                    border:0.02rem solid #DDDEE1;
                .title{
                    font-size: 0.3rem;
                    color: #2E3A54;
                }
                .price{
                    font-size: 0.3rem;
                    color: #2E3A54;
                    font-weight: normal;
                    margin: 0.04rem auto 0.08rem;
                }
                p{
                    font-size: 0.24rem;
                    color: #6F7181;
                    padding: 0.1rem 0;
                    line-height: 0.34rem;
                    &::before{
                        content: '';
                        display: inline-block;
                        width: 0.08rem;
                        height: 0.08rem;
                        background-color: #686D7F;
                        border-radius: 0.08rem;
                        vertical-align: middle;
                        margin-right: 0.1rem;
                    }
                }
            }
        }
        &-result{
            .result-item{
                margin: 0.4rem 0.32rem;
                padding: 0.36rem;
                border:0.02rem solid #DDDEE1;
                &-title{
                    @include df;
                    @include df-jc-fs;
                    @include df-ai;
                    @include fw-w;
                    .domin{
                        color: #0086FF;
                        font-size: 0.3rem;
                    }
                    .domin-type{
                        margin-left: 0.16rem;
                        color: #2E3A54;
                        font-size: 0.3rem;
                    }
                    .connect{
                        margin:0 0.16rem;
                        font-size: 0.3rem;
                        color: #2E3A54;
                    }
                    input{
                        width: 1.54rem;
                        height: 0.52rem;
                        outline: none;
                        text-align: center;
                        color: #2E3A54;
                        border:0.02rem solid #DDDEE1;
                        background-color: #F4F4F4;
                        input::-webkit-input-placeholder{
                            color: #999999;
                        }
                    }
                    .icons-status{
                        display: inline-block;
                        margin-left: 0.06rem;
                        width: 0.36rem;
                        height: 0.36rem;
                        border-radius: 0.36rem;
                        &.success{
                            background: url(./assets/images/trademark/icons-success.png) no-repeat;
                            background-size: cover;
                        }
                        &.failed{
                            background: url(./assets/images/trademark/icons-failed.png) no-repeat;
                            background-size: cover;
                        }
                    }
                }
                &-price{
                    line-height: 0.48rem;
                    font-size: 0.3rem;
                    color: #2E3A54;
                    margin-bottom: 0.22rem;
                }
                &-tips{
                    font-size: 0.28rem;
                    color: #888A97;
                    label{
                        display: block;
                    }
                    .can{
                        color: #0086FF;
                    }
                    .can-search{
                        padding-left: 0.36rem;
                        color: #0086FF;
                        background: url(./assets/images/trademark/can-search.png)center left no-repeat;
                        background-size: 0.3rem 0.3rem;
                    }
                }
            }
        }
    }
}

// 商标申请类别
.apply-class{
    .mint-header{
       @include fn;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #ffffff;
    @include df;
    @include fd-c;
    &-main{
        @include df;
        @include df-jc-fs;
        @include fa;
        height: 100%;
        .bscroll{
            height: 100%;
            overflow: hidden;
            &.left{
                width: 30%;
            }
            &.right{
                position: relative;
                width: 70%;
                .right-main{
                    li{
                        @include df;
                        @include fd-c;
                        padding: 0;
                        border-bottom: 0;
                    }
                    &-title{
                        @include df;
                        @include df-jc-fs;
                        padding: 0.13rem 0.3rem;
                        border-bottom: 0.01rem solid #e5e5e5;
                        .icons{
                            @include fn;
                            margin-right: 0.1rem;
                            display: block;
                            width: 0.3rem;
                            height: 0.3rem;
                            border-radius: 0.3rem;
                            border:0.01rem solid #e5e5e5;
                            &.active{
                                background:url(./assets/images/trademark/active.png) center center no-repeat;
                                background-size: cover;
                            }
                        }
                    }
                    &-child{
                        background-color: #f8f8f8;
                        li{
                            @include df;
                            @include df-jc-fs;
                            @include fd-r;
                            border-bottom: 0.01rem solid #e5e5e5;
                            padding: 0.13rem 0.3rem 0.13rem 0.64rem;
                            .icons{
                                @include fn;
                                margin-right: 0.1rem;
                                display: block;
                                width: 0.3rem;
                                height: 0.3rem;
                                border-radius: 0.3rem;
                                border:0.01rem solid #e5e5e5;
                                &.active{
                                    background:url(./assets/images/trademark/active.png) center center no-repeat;
                                    background-size: cover;
                                }
                            }
                        }
                    } 
                }
                .loading{
                    font-size: 0.3rem;
                    color: #999999;
                    text-align: center;
                    line-height: 0.68rem;
                }
                // .right-saerch{
                //     position: absolute;
                //     left: 0;
                //     top: 0.9rem;
                //     width: 100%;
                //     font-size: 0;
                //     box-sizing: border-box;
                //     @include df;
                //     @include df-jc-fs;
                //     border-bottom: 0.01rem solid #e5e5e5;
                //     padding: 0.14rem 0.2rem;
                //     background-color: #ffffff;
                //     input{
                //         @include fa;
                //         display: block;
                //         height: 0.5rem;
                //         border:0;
                //         padding-left: 0.2rem;
                //         padding-right: 0.74rem;
                //         outline: none;
                //         background-color: #f1f1f1;
                //         border-radius: 0.1rem;
                //     }
                //     .search-icons{
                //         position: absolute;
                //         right: 0.4rem;
                //         top: 0.22rem;
                //         display: block;
                //         width: 0.34rem;
                //         height: 0.34rem;
                //         background:url(./assets/images/trademark/search_class.png) center center no-repeat;
                //         background-size: cover;
                //     }
                // }
            }
            .bscroll-container{
                font-size: 0.24rem;
                color: #666666;
                border-right: 0.01rem solid #e5e5e5;
                li{
                    @include df;
                    @include df-jc-fs;
                    border-bottom: 0.01rem solid #e5e5e5;
                    padding: 0.13rem 0.05rem;
                    .icons{
                        @include fn;
                        margin-right: 0.1rem;
                        display: block;
                        width: 0.3rem;
                        height: 0.3rem;
                        border-radius: 0.3rem;
                        border:0.01rem solid #e5e5e5;
                        &.active{
                            background:url(./assets/images/trademark/active.png) center center no-repeat;
                            background-size: cover;
                        }
                    }
                    .text{
                        @include fa;
                    }
                    &.list-item{
                        padding-right: 0.4rem;
                        position: relative;
                        .tips{
                            position: absolute;
                            top: 0.05rem;
                            right: 0.1rem;                        
                            width: 0.3rem;
                            height: 0.3rem;
                            font-size: 0.2rem;
                            color: #fff;
                            text-align: center;
                            line-height: 0.3rem;
                            border-radius: 0.3rem;
                            background-color: #f2932d;
                            font-style: normal;
                        }
                    }
                }
            }
        }
        
    }
    &-bottom{
        // position: fixed;
        // left: 0;
        // bottom: 0;
        width: 100%;
        height: 0.88rem;
        background-color: #5c5c5c;
        @include df;
        @include df-jc-fs;
        @include df-ai;
        @include fn;
        color: #fff;
        font-size: 0.3rem;
        label{
            @include fa;
            text-align: center;
        }
        button{
            @include fn;
            display: block;
            width: 20%;
            height: 100%;
            color: #fff;
            font-size: 0.3rem;
            background-color: #922224;
        }
    }
}

// 选择年限主体里面选中的商标分类

.apply-class-item {
    &-list{
        margin: 0.34rem 0;
        &-title{
            font-size: 0.3rem;
            color: #333333;
            font-weight: 600;
        }
        &-main{
            span{
                display: inline-block;
                margin: 0.12rem 0.2rem 0.12rem 0;
                padding: 0.08rem 0.3rem;
                background-color: #F7F7F7;
                font-size: 0.24rem;
                color: #686D7F;
                border-radius: 0.24rem;
            }
        }
    }
}