// 补充资料
#app{
    .add-infor .mint-header,.add-infor-detail .mint-header{
        border-bottom: none;
    }
    .add-infor .containerView-main,.add-infor-detail .containerView-main{
        padding-bottom: 0.36rem;
    } 
}
// 补充资料
.add-infor{
    .main{
        padding: 0.32rem;
        .tips{
            margin-top: 0.4rem;
            padding: 0.24rem 0.36rem;
            border-radius: 0.08rem;
            background-color: #F7F7F7;
            
            p{
                font-size: 0.26rem;
                color: #2E3A54;
                line-height: 0.34rem;
                white-space: pre-wrap;
                &.tp1{
                    margin-bottom: 0.2rem;
                }
            }
        }
        &-apply-list{
            margin-top: 0.6rem;
            h2{
                font-size: 0.44rem;
                color: #2C3852;
                font-weight: bold;
            }
            &-item{
                @include df;
                @include df-ai;
                height: 1.1rem;
                border-bottom: 0.02rem solid #F1F1F1;
                &.rbg{
                    background: url(./assets/images/user/advance.png) right center no-repeat;
                    background-size: 0.1rem 0.18rem;
                }
                &.f_tar{
                    justify-content: space-between;
                    .f_tar_s{
                        padding-right: 0.2rem;
                        color: #666;
                        font-size: 0.3rem;
                    }
                }
                p{
                    font-size: 0.3rem;
                    color: #2C3852;
                }
                .unre-viewed{
                    @include fn;
                    display: inline-block;
                    margin-left: 0.5rem;
                    padding: 0.1rem 0.3rem;
                    font-size: 0.3rem;
                    color: #2C3852;
                    background-color: #eef6ff;
                    border-radius: 0.5rem;
                }
            }
        }
    }
}
// 补充资料详情
.add-infor-detail{
    &-main{
        padding: 0 0.32rem;
        &-title{
           font-size: 0.44rem;
           color: #2C3852;
           margin-top: 0.46rem;
        }
        &-tips{
            display: block;
            margin: 0.1rem 0 0.32rem 0;
            width: 100%;
            padding: 0.22rem 0.36rem;
            line-height: 0.34rem;
            font-size: 0.26rem;
            color: #2E3A54;
            background-color: #F7F7F7;
            border-radius: 0.08rem;
        }
        &-small-title{
            font-size: 0.3rem;
            color: #2C3852;
            font-weight: normal;
        }
        &-menu{
            @include df;
            @include fw-w;
            padding: 0.36rem 0;
            span{
                display: block;
                margin: 0.12rem;
                padding: 0.12rem 0.44rem;
                font-size: 0.3rem;
                color: #6F7181;
                border:0.02rem solid #999999;
                border-radius: 0.64rem;
                &.active{
                    color: #FFFFFF;
                    background-color: #0189FF;
                    border:0.02rem solid #0189FF;
                }
            }
        }
        .uploadtext{
            font-size: 0.26rem;
            color: #6F7181;
        }
        .submit{
            display: block;
            width: calc(100% - 0.48rem);
            height: 0.96rem;
            margin: 0.88rem auto 0;
            font-size: 0.34rem;
            color: #FFFFFF;
            background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
            border-radius: 0.45rem;
        }
        // 商标确认
        .confirm-list{
            @include df;
            @include fw-w;
            margin-bottom: 0.5rem;
            &-item{
                position: relative;
                display: inline-block;
                margin-right: 0.3rem;
                margin-top: 0.3rem;
                width: calc((100% - 0.6rem)/3);
                height: 2.3rem;
                border-radius: 0.08rem;
                .default{
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #D1D1D1;
                    border-radius: 0.1rem;
                }
                &:nth-child(3n){
                    margin-right: 0;
                }
                &.cf-upload{
                    border: 1px solid #D1D1D1;
                    border-radius: 0.1rem;
                    img{
                        display: block;
                        margin: 0.68rem auto 0.2rem;
                        width: 0.48rem;
                    }
                    span{
                        display: block;
                        font-size: 0.24rem;
                        color: #999;
                        text-align: center;
                    }
                }
                &-del{
                    position: absolute;
                    top: -0.2rem;
                    right: -0.2rem;
                    width: 0.47rem;
                    height: 0.47rem;
                }  
            }
        }
    }
    .feekbook-upload{
        .upload-til{
            font-size: 0.28rem;
            color: #2C3852;
        }
        .voucher-center{
            @include df;
            @include fw-w;
            width: 100%;
            background: #fff;
            left: 0;
            padding-bottom: 0.32rem;
            display: inline-block;
            .voucher-case{
                @include fn;
                position: relative;
                display: inline-block;
                margin-right: 0.3rem;
                margin-top: 0.3rem;
                width: calc((100% - 0.6rem)/3);
                height: 2.3rem;
                border-radius: 0.1rem;
                .img_minus{
                    overflow: hidden;
                    height: 100%;
                    max-width: 100%;
                    border: 0.02rem solid #D1D1D1;
                    border-radius: 0.1rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .img-voucher{
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                        width: 2.3rem;
                        text-align: center;
                        img{
                            text-align: center;
                            height: 0.48rem;
                            margin-top: 0.68rem;
                            margin-bottom: 0.2rem;

                        }
                        span{
                            font-size: 0.24rem;
                            color: #999;
                            display: block;
                            text-align: center;
                        }
                    }
                }
                .del-icon{
                    position: absolute;
                    top: -0.2rem;
                    right: -0.2rem;
                    width: 0.47rem;
                    height: 0.47rem;
                    z-index: 2;
                }
                &:nth-child(3n){
                    margin-right: 0;
                }
            }
        }
    }
    // 上传
    .upload-box{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        &-main{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 0 0.32rem;
            background-color: #FFFFFF;
            border-radius:32px 32px 0px 0px;
            &-title{
                margin-top: 0.24rem;
                button{
                    float: right;
                    font-size: 0.3rem;
                    color: #6F7181;
                    background-color: transparent;
                    outline: none;
                }
            }
            ul{
                padding: 0.2rem 0 0.7rem 0;
                li{
                    position: relative;
                    height: 1.1rem;
                    line-height: 1.1rem;
                    font-size: 0.3rem;
                    color: #2C3852;
                    text-align: center;
                    border-bottom: 0.02rem solid #F1F1F1;
                    @include df;
                    @include df-ai;
                    span{
                        @include fa;
                    }
                    i{
                        @include fn;
                        display: inline-block;
                        width: 0.1rem;
                        height: 0.18rem;
                        background: url(./assets/images/user/advance.png) center right no-repeat;
                        background-size: cover;
                    }
                    .upload-img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                }
            }
        }
    }
}


// 新增点商标补充资料
.addinfor-tmd{
    background-color: #f2f2f2;
    height: 100%;
    .containerView-main{
        padding-bottom: 0 !important;
    }
    .mint-header.is-fixed {
        z-index: 10;
    }
    .addinfor-tmd-main{
        .content{
            background-color: #ffffff;
            padding: 0 0.32rem;
        }
        .type-list{
            @include df;
            @include df-ai;
            position: relative;
            overflow:hidden;
            border-bottom: 1px solid #F1F1F1;
            padding: 0.36rem 0;
            .left-text{
                @include fa;
                font-size: 0.32rem;
				color:#2C3852;
				line-height: 0.6rem;
				font-weight: 400;
				font-family:PingFang SC;
            }
            .apply-type{
                color:#2C3852;
                height:0.4rem;
                float: left;
                width:72%;
                font-size: 0.3rem;
                border:none;
                appearance:none;
                -moz-appearance:none;
                -webkit-appearance:none;
                background: transparent;
                outline: none;
                font-family:PingFangHK-Regular;
                &::-ms-expand{
                    display: none;
                }
                z-index: 1;
            }
            .icons-down{
                width:0.24rem;
                height:0.14rem;
                background: url(./assets/images/common/icons-down.png) right center no-repeat;
                background-size: 100% 100%;
                display: block;
                position: absolute;
                right: 0;
                top:50%;
            }
        }
        .submit{
            display: block;
            width: calc(100% - 0.48rem);
            height: 0.96rem;
            margin: 0.88rem auto 0;
            font-size: 0.34rem;
            color: #FFFFFF;
            background:linear-gradient(131deg,rgba(15,179,254,1) 0%,rgba(0,134,255,1) 100%);
            border-radius: 0.45rem;
        }
        .feekbook-upload{
            .upload-til{
                font-size: 0.28rem;
                color: #2C3852;
            }
            .voucher-center{
                width: 100%;
                background: #fff;
                left: 0;
                padding-bottom: 0.32rem;
                display: inline-block;
                .voucher-case{
                    position: relative;
                    display: inline-block;
                    margin-right: 0.36rem;
                    margin-top: 0.3rem;
                    width: 2.3rem;
                    height: 3.16rem;
                    border-radius: 0.08rem;
                    .img_minus{
                        overflow: hidden;
                        height: 100%;
                        max-width: 100%;
                        border: 1px solid #ccc;
                        border-radius: 0.04rem;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        .img-voucher{
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: cover;
                            width: 100%;
                            height: 100%;
                            max-width: 100%;
                            width: 3rem;
                            text-align: center;
                            img{
                                text-align: center;
                                height: 0.48rem;
                                margin-top: 1.06rem;
                                margin-bottom: 0.2rem;
    
                            }
                            span{
                                font-size: 0.24rem;
                                color: #999;
                                display: block;
                                text-align: center;
                            }
                        }
                        .upload-img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                        }
                    }
                    .del-icon{
                        position: absolute;
                        top: -0.2rem;
                        right: -0.2rem;
                        width: 0.47rem;
                        height: 0.47rem;
                        z-index: 2;
                    }
                    &:nth-child(3){
                        // margin-right: 0;
                    }
                }
            }
        }
    }
    
}