.website{
	font-size: 0.24rem;
	line-height: 0.34rem;
	height:100%;
	// overflow: scroll;
	// padding-top:0.9rem;
	font-family:PingFang SC;
	.containerView-main{
		padding-top: 1.32rem !important;
	}
	.mint-header{
		border:none!important;
		box-shadow: 0px 1px 1px rgba(0,0,0,0.16);
	}
	.content{
		padding:0.4rem 0.32rem;
		word-wrap: break-word;
		word-break: normal;
		color:#6F7181;
		.top_img{
			width:100%;
		}
		.text{
			padding:0 0.32rem;
			.text_top{
				margin-top:0.4rem;
				overflow: hidden;
				.text_top_l{
					float: left;
					.title{
						color:#2E3A54;
						font-size: 0.32rem;
						font-weight: bold;
						line-height: 0.44rem;
						margin-bottom: 0.08rem;
					}
					.msg{
						margin-top:0.04rem;
						&::before{
							content: '';
							display: inline-block;
							width:0.08rem;
							height:0.08rem;
							border-radius:50%;
							background:#686D7F;
							margin-right: 0.12rem;
							vertical-align:middle;
						}
					}
				}
				.text_top_r{
					float: right;
					margin-top:0.15rem;
					.apply{
						color:#fff;
						font-weight: bold;
						padding:0.12rem 0.32rem;
						background-color:#0086FF;
						border-radius:1rem;
						font-family: PingFang SC;
					}
				}
			}
			.text_con{
				margin-top:0.4rem;
				overflow: hidden;
				.title{
					margin-bottom: 0.08rem;
					font-size: 0.28rem;
					color:#2E3A54;
					font-weight: bold;
					line-height: 0.4rem;
				}
				p{
					margin-top:0.04rem;
				}
				.msg{
					margin-top:0.04rem;
					&.msg_s{
						color: #2E3A54;
						margin-top:0.08rem;
					}
					&::before{
						content: '';
						display: inline-block;
						width:0.08rem;
						height:0.08rem;
						border-radius:50%;
						background:#686D7F;
						margin-right: 0.12rem;
						vertical-align:middle;
					}
				}
				.pl_t{
					padding-left:0.2rem;
				}
			}
		}
	}
}